components/specification/Released-Schema/2003-IR1/DataHistory.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://openmicroscopy.com/XMLschemas/DataHistory/IR1/DataHistory.xsd"
	 xmlns:DH = "http://openmicroscopy.com/XMLschemas/DataHistory/IR1/DataHistory.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
	<element name = "DataHistory">
		<annotation>
			<documentation>Describes all known history of data.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "DH:ModuleExecution" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "ModuleExecution">
		<annotation>
			<documentation>Describes one run of a module. </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "DH:Input" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "DH:Output" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "Module" use = "required" type = "string">
				<annotation>
					<documentation>References a module by LSID</documentation>
				</annotation>
			</attribute>
			<attribute name = "ID" use = "required" type = "string">
				<annotation>
					<documentation>GUID for this module execution</documentation>
				</annotation>
			</attribute>
			<attribute name = "Timestamp" use = "required" type = "string">
				<annotation>
					<documentation>When the module was executed.</documentation>
				</annotation>
			</attribute>
			<attribute name = "Dataset" use = "required" type = "string">
				<annotation>
					<documentation>Dataset this was run against.</documentation>
				</annotation>
			</attribute>
			<attribute name = "Dependence" use = "required">
				<annotation>
					<documentation>Module Execution Dependence.</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "G"/>
						<enumeration value = "D"/>
						<enumeration value = "I"/>
						<enumeration value = "F"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Status" type = "string"/>
			<attribute name = "RunTime" type = "string">
				<annotation>
					<documentation>How long the module took to run. </documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name = "Input">
		<annotation>
			<documentation>Identifies a set of attributes that satisfied a formal input.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "DH:AttributeRef" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "Name" use = "required" type = "string">
				<annotation>
					<documentation>Formal Input name</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name = "Output">
		<annotation>
			<documentation>Identifies a set of attributes that were generated by a formal output.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "DH:AttributeRef" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "Name" use = "required" type = "string">
				<annotation>
					<documentation>Formal Output Name</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name = "AttributeRef">
		<annotation>
			<documentation>Reference to an attribute.</documentation>
		</annotation>
		<complexType>
			<sequence/>
			<attribute name = "ID" use = "required" type = "string">
				<annotation>
					<documentation>References an attribute by LSID or id local to document.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
</schema>