components/specification/released-schema/2007-06/ome.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2002-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by: Ilya G. Goldberg, Andrew J Patterson
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns="http://www.openmicroscopy.org/Schemas/OME/2007-06"
	targetNamespace="http://www.openmicroscopy.org/Schemas/OME/2007-06"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:AML="http://www.openmicroscopy.org/Schemas/AnalysisModule/2007-06"
	xmlns:STD="http://www.openmicroscopy.org/Schemas/STD/2007-06"
	xmlns:Bin="http://www.openmicroscopy.org/Schemas/BinaryFile/2007-06"
	xmlns:CA="http://www.openmicroscopy.org/Schemas/CA/2007-06"
	xmlns:SPW="http://www.openmicroscopy.org/Schemas/SPW/2007-06"
	version="2"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/AnalysisModule/2007-06" schemaLocation="http://www.openmicroscopy.org/Schemas/AnalysisModule/2007-06/AnalysisModule.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/STD/2007-06" schemaLocation="http://www.openmicroscopy.org/Schemas/STD/2007-06/STD.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/BinaryFile/2007-06" schemaLocation="http://www.openmicroscopy.org/Schemas/BinaryFile/2007-06/BinaryFile.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/CA/2007-06" schemaLocation="http://www.openmicroscopy.org/Schemas/CA/2007-06/CA.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SPW/2007-06" schemaLocation="http://www.openmicroscopy.org/Schemas/SPW/2007-06/SPW.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Open Microscopy Environment
			OME XML Schema June 2007 - Update Version 2 September 2007
			Author:  Ilya G. Goldberg, Andrew J Patterson
			Copyright (C) 2002-2011 Open Microscopy Environment
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="OME">
		<xsd:annotation>
			<xsd:documentation>
				The OME element is a container for all information objects acessible by OME.  These information objects include descriptions of the imaging experiments
				and the people who perform them, descriptions of the microscope, the resulting images and how they were acquired, the analyses performed on those images,
				and the analysis results themselves.
				An OME file may contain any or all of this information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Project" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Dataset" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Experiment" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SPW:Plate" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SPW:Screen" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Experimenter" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Group" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Instrument" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Image" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="STD:SemanticTypeDefinitions" minOccurs="0"/>
				<xsd:element ref="AML:AnalysisModuleLibrary" minOccurs="0"/>
				<xsd:element ref="CA:CustomAttributes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Image">
		<xsd:annotation>
			<xsd:documentation>
				This element describes the actual image and its meta-data.
				The elements that are references (ending in Ref) refer to elements defined outside of the Image element.
				If any of the required Image attributes are missing, its guaranteed to be an invalid document.
				The required elements are CreationDate and Pixels.
				ExperimenterRef is required for all Images with well formed LSIDs.
				ImageType is a vendor-specific designation of the type of image this is.
				Examples of ImageType include 'STK', 'SoftWorx', etc.
				The Name attributes are in all cases the name of the element instance. In this case, the name of the image,
				not necessarily the filename.
				PixelSize* is in microns.
				TimeIncrement is used for time series that have a global timing specification instead of per-timepoint timing info.
				For example in a video stream.  The unit is seconds.
				Similarly, WaveStart and WaveIncrement are used in spectral images like FTIR.  These are both positive integers.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CreationDate"/>
				<xsd:element ref="ExperimenterRef" minOccurs="0"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="ExperimentRef" minOccurs="0"/>
				<xsd:element ref="GroupRef" minOccurs="0"/>
				<xsd:element ref="DatasetRef" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="InstrumentRef" minOccurs="0"/>
				<xsd:element ref="ObjectiveSettingsRef" minOccurs="0"/>
				<xsd:element ref="ImagingEnvironment" minOccurs="0"/>
				<xsd:element ref="Thumbnail" minOccurs="0"/>
				<xsd:element ref="LogicalChannel" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DisplayOptions" minOccurs="0"/>
				<xsd:element ref="StageLabel" minOccurs="0"/>
				<xsd:element ref="Pixels" maxOccurs="unbounded"/>
				<xsd:element ref="AcquiredPixelsRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Region" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CA:CustomAttributes" minOccurs="0"/>
				<xsd:element ref="ROI" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="MicrobeamManipulation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="ImageID"/>
			<xsd:attribute name="Name" use="required" type="xsd:string"/>
			<xsd:attribute name="DefaultPixels" use="required" type="PixelsID">
				<xsd:annotation>
					<xsd:documentation>More than one Pixels attribute may be associated with an Image. An Image will however have one "primary" set of Pixels. If a PixelsID is specified with this attribute, then that will be the "primary" pixels for this image. If this attribute
is not specified, then the FIRST &lt;Pixels> element under &lt;Image> will be assumed to be the "primary" set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CreationDate" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				The creation date of the Image - when the Image was acquired.
				The element contains a string in the ISO 8601 dateTime format (i.e. 1988-04-07T18:39:09)
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Pixels">
		<xsd:annotation>
			<xsd:documentation>
				The Image will be unreadable if any of the required Pixel attributes are missing.
				The Pixels themselves are stored within the file compressed by plane, and encoded in Base64.
				The Pixels element must contain a list of BinData, each containing a single plane of pixels.
				These Pixels elements, when read in document order, must produce a 5-D pixel array
				of the size specified in this element, and in the dimension order specified by 'DimensionOrder'.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="Bin:BinData"/>
					<xsd:element ref="TiffData"/>
				</xsd:choice>
				<xsd:element ref="Plane" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="PixelsID"/>
			<xsd:attribute name="DimensionOrder" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="XYZCT"/>
						<xsd:enumeration value="XYZTC"/>
						<xsd:enumeration value="XYCTZ"/>
						<xsd:enumeration value="XYCZT"/>
						<xsd:enumeration value="XYTCZ"/>
						<xsd:enumeration value="XYTZC"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="PixelType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="PixelTypes">
						<xsd:enumeration value = "int8"/>
						<xsd:enumeration value = "int16"/>
						<xsd:enumeration value = "int32"/>
						<xsd:enumeration value = "uint8"/>
						<xsd:enumeration value = "uint16"/>
						<xsd:enumeration value = "uint32"/>
						<xsd:enumeration value = "float"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="BigEndian" use="required" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>This is true if the pixel data was written in BigEndian order. This is dependent on the system architecture of the machine that wrote the pixels. True for essentially all modern CPUs other than Intel and Alpha. All pixel data must be written in the same endian order.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SizeX" use="required" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Dimensional size of pixel data array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SizeY" use="required" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Dimensional size of pixel data array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SizeZ" use="required" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Dimensional size of pixel data array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SizeC" use="required" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Dimensional size of pixel data array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="SizeT" use="required" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Dimensional size of pixel data array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PhysicalSizeX" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Physical size of a pixel</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PhysicalSizeY" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Physical size of a pixel</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PhysicalSizeZ" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>Physical size of a pixel</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="TimeIncrement" type="xsd:float"/>
			<xsd:attribute name="WaveStart" type="xsd:positiveInteger"/>
			<xsd:attribute name="WaveIncrement" type="xsd:positiveInteger"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AcquiredPixelsRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="PixelsID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TiffData">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="IFD" type="xsd:integer" default="0">
				<xsd:annotation>
					<xsd:documentation>
						Gives the IFD(s) for which this element is applicable. Indexed from 0.
						Default is 0 (the first IFD).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FirstZ" type="xsd:integer" default="0">
				<xsd:annotation>
					<xsd:documentation>
						Gives the Z position of the image plane at the specified IFD. Indexed from 0.
						Default is 0 (the first Z position).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FirstT" type="xsd:integer" default="0">
				<xsd:annotation>
					<xsd:documentation>
						Gives the T position of the image plane at the specified IFD. Indexed from 0.
						Default is 0 (the first T position).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FirstC" type="xsd:integer" default="0">
				<xsd:annotation>
					<xsd:documentation>
						Gives the C position of the image plane at the specified IFD. Indexed from 0.
						Default is 0 (the first C position).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="NumPlanes" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						Gives the number of IFDs affected. Dimension order of IFDs is given by the enclosing
						Pixels element's DimensionOrder attribute. Default is the number of IFDs in the TIFF
						file, unless an IFD is specified, in which case the default is 1.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Plane">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PlaneTiming" type="PlaneTiming" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="StagePosition" type="StagePosition" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="TheZ" use="required" type="xsd:integer"/>
			<xsd:attribute name="TheT" use="required" type="xsd:integer"/>
			<xsd:attribute name="TheC" use="required" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="PlaneTiming">
		<xsd:attribute name="DeltaT" use="required" type="xsd:float">
			<xsd:annotation>
				<xsd:documentation>
					Units are seconds since the beginning of the experiment
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ExposureTime" use="required" type="xsd:float">
			<xsd:annotation>
				<xsd:documentation>
					Units are seconds
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="StagePosition">
		<xsd:annotation>
			<xsd:documentation>
				All units are in the microscope reference frame
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="PositionX" use="required" type="xsd:float"/>
		<xsd:attribute name="PositionY" use="required" type="xsd:float"/>
		<xsd:attribute name="PositionZ" use="required" type="xsd:float"/>
	</xsd:complexType>

	<xsd:element name="Experiment">
		<xsd:annotation>
			<xsd:documentation>
				This element describes the type of experiment.  The required Type attribute must contain one or more entries from the following list:
				FP FRET Time-lapse 4-D+ Screen Immunocytochemistry FISH Electrophysiology  Ion-Imaging Colocalization PGI/Documentation
				FRAP Photoablation Optical-Trapping Photoactivation Fluorescence-Lifetime Spectral-Imaging Other
				FP refers to fluorescent proteins, PGI/Docuemntation is not a 'data' image.
				The optional Description element may contain free text to further describe the experiment.
				Added Type Photobleaching - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="ExperimenterRef">
					<xsd:annotation>
						<xsd:documentation>
						This is a link to the Experimenter who conducted the experiment - ajp
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="MicrobeamManipulationRef" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="FP"/>
								<xsd:enumeration value="FRET"/>
								<xsd:enumeration value="TimeLapse"/>
								<xsd:enumeration value="FourDPlus"/>
								<xsd:enumeration value="Screen"/>
								<xsd:enumeration value="Immunocytochemistry"/>
								<xsd:enumeration value="Immunofluorescence"/>
								<xsd:enumeration value="FISH"/>
								<xsd:enumeration value="Electrophysiology"/>
								<xsd:enumeration value="IonImaging"/>
								<xsd:enumeration value="Colocalization"/>
								<xsd:enumeration value="PGIDocumentation"/>
								<xsd:enumeration value="FluorescenceLifetime"/>
								<xsd:enumeration value="SpectralImaging"/>
								<xsd:enumeration value="Photobleaching"/>
								<xsd:enumeration value="Other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ID" use="required" type="ExperimentID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExperimentRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ExperimentID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MicrobeamManipulation">
		<xsd:annotation>
			<xsd:documentation>
				Defines a microbeam operation type and the region of the image it was applied to.
				The LightSourceRef element is a reference to a LightSource specified in the Instrument element which was used for a technique other than illumination for
				the purpose of imaging.  For example, a laser used for photobleaching.

			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ROIRef" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element ref="ExperimenterRef" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="LightSourceRef" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="MicrobeamManipulationID"/>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="FRAP"/>
								<xsd:enumeration value="Photoablation"/>
								<xsd:enumeration value="Photoactivation"/>
								<xsd:enumeration value="Uncaging"/>
								<xsd:enumeration value="OpticalTrapping"/>
								<xsd:enumeration value="Other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MicrobeamManipulationRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="MicrobeamManipulationID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LogicalChannel">
		<xsd:annotation>
			<xsd:documentation>
				There must be one per channel in the Image, even for a single-plane image.  In OME, Channels (e.g. 'FITC', 'Texas Red', etc) are specified as Logical Channels,
				And information about how each of them was acquired is stored in the various optional *Ref elements.  Each Logical Channel is composed of one or more
				ChannelComponents.  For example, an entire spectrum in an FTIR experiment may be stored in a single Logical Channel with each discrete wavenumber of the spectrum
				constituting a ChannelComponent of the FTIR Logical Channel.  An RGB image where the Red, Green and Blue components do not reflect discrete probes but are
				instead the output of a color camera would be treated similarly - one Logical channel with three ChannelComponents in this case.
				The total number of ChannelComponents for a set of pixels must equal SizeC.
				The SamplesPerPixel attribute is the number of channel components in the logical channel.
				The IlluminationType attribute is a string enumeration which may be set to 'Transmitted', 'Epifluorescence', 'Oblique', or 'NonLinear'.
				The optional PinholeAize attribute allows specifying adjustable pin hole diameters for confocal microscopes.
				The PhotometricInterpretation attribute is used to describe how to display a multi-component channel.  This attribute may be set to:
				'monochrome', 'RGB', 'ARGB', 'CMYK', 'HSV'.  The default for single-component channels is 'monochrome'.
				The Model attribute describes the type of microscopy performed for each channel.  This may be set to:
				'Wide-field','Wide-field','Laser Scanning Microscopy','Laser Scanning Confocal','Spinning Disk Confocal','Slit Scan Confocal','Multi-Photon Microscopy',
				'Structured Illumination','Single Molecule Imaging','Total Internal Reflection','Fluorescence-Lifetime','Spectral Imaging',
				'Fluorescence Correlation Spectroscopy','Near Field Scanning Optical Microscopy','Second Harmonic Generation Imaging'.
				The ContrastMethod attribute may be set to 'Brightfield','Phase','DIC','Hoffman Modulation','Oblique Illumination','Polarized Light','Darkfield','Fluorescence'.
				The ExWave, EmWave and Fluor attributes allow specifying the nominal excitation and emission wavelengths and the type of fluor being imaged in a particular channel.
				The Fluor attribute is used for fluorescence images, while the Name attribute is used to name channels that are not imaged using fluorescence techniques.
				The user interface logic for labeling a given channel for the user should use the first existing attribute in the following sequence:
				Name -> Fluor -> EmWave -> ChannelComponent/Index.
				The NDfilter attribute is used to specify (in O.D. units) the combined effect of any neutral density filters used.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LightSourceRef" minOccurs="0"/>
				<xsd:element ref="OTFRef" minOccurs="0"/>
				<xsd:element ref="DetectorRef" minOccurs="0"/>
				<xsd:element ref="FilterSetRef" minOccurs="0"/>
				<xsd:element ref="ChannelComponent" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="LogicalChannelID"/>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="SamplesPerPixel" type="xsd:integer"/>
			<xsd:attribute name="SecondaryEmissionFilter" type="FilterID"/>
			<xsd:attribute name="SecondaryExcitationFilter" type="FilterID"/>
			<xsd:attribute name="IlluminationType">
				<xsd:annotation><xsd:documentation>
					Attribute is called Illumination in EA diagram - ajp
					Added NonLinear - ajp
				</xsd:documentation></xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Transmitted"/>
						<xsd:enumeration value="Epifluorescence"/>
						<xsd:enumeration value="Oblique"/>
						<xsd:enumeration value="NonLinear"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="PinholeSize" type="xsd:positiveInteger"/>
			<xsd:attribute name="PhotometricInterpretation" default="Monochrome">
				<xsd:annotation>
					<xsd:documentation>
						To Do - Add more documentation - ajp
						Added ColorMap - ajp
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Monochrome"/>
						<xsd:enumeration value="RGB"/>
						<xsd:enumeration value="ARGB"/>
						<xsd:enumeration value="CMYK"/>
						<xsd:enumeration value="HSV"/>
						<xsd:enumeration value="ColorMap"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Mode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="WideField"/>
						<xsd:enumeration value="LaserScanningMicroscopy"/>
						<xsd:enumeration value="LaserScanningConfocal"/>
						<xsd:enumeration value="SpinningDiskConfocal"/>
						<xsd:enumeration value="SlitScanConfocal"/>
						<xsd:enumeration value="MultiPhotonMicroscopy"/>
						<xsd:enumeration value="StructuredIllumination"/>
						<xsd:enumeration value="SingleMoleculeImaging"/>
						<xsd:enumeration value="TotalInternalReflection"/>
						<xsd:enumeration value="FluorescenceLifetime"/>
						<xsd:enumeration value="SpectralImaging"/>
						<xsd:enumeration value="FluorescenceCorrelationSpectroscopy"/>
						<xsd:enumeration value="NearFieldScanningOpticalMicroscopy"/>
						<xsd:enumeration value="SecondHarmonicGenerationImaging"/>
						<xsd:enumeration value="Other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ContrastMethod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Brightfield"/>
						<xsd:enumeration value="Phase"/>
						<xsd:enumeration value="DIC"/>
						<xsd:enumeration value="HoffmanModulation"/>
						<xsd:enumeration value="ObliqueIllumination"/>
						<xsd:enumeration value="PolarizedLight"/>
						<xsd:enumeration value="Darkfield"/>
						<xsd:enumeration value="Fluorescence"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ExWave" type="xsd:positiveInteger"/>
			<xsd:attribute name="EmWave" type="xsd:positiveInteger"/>
			<xsd:attribute name="Fluor" type="xsd:string"/>
			<xsd:attribute name="NdFilter" type="xsd:float"/>
			<xsd:attribute name="PockelCellSetting"  type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DisplayOptions">
		<xsd:annotation>
			<xsd:documentation>
				There is optionally one of these per Image.
				This specifies mapping of image channel components to RGB or greyscale colorspace with one byte per pixel per RGB channel.
				RedChannel, GreenChannel, BlueChannel, and GreyChannel specify the scaling of pixel values to 8-bit colorspace values.
				Display indicates to display the image as Greyscale or RGB.
				The Projection element specifies that the display is a maximum intensity projection.
				The range of Z-sections for the projection is specified with the ZStart and ZStop attributes.
				The Time element restricts the range of timepoints displayed.
				The range of timepoints to display is specified by the TStart and TStop attributes.
				The MIME type of the desired video format is specified by Movie's MIMEtype attribute.
				The ROI element describes a 3-D region of interest.  It is up to the viewer to either display the ROI only,
				or to simply mark it somehow.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RedChannel"/>
				<xsd:element ref="GreenChannel"/>
				<xsd:element ref="BlueChannel"/>
				<xsd:element ref="GreyChannel"/>
				<xsd:element ref="Projection" minOccurs="0"/>
				<xsd:element ref="Time" minOccurs="0"/>
				<xsd:element ref="ROI" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Zoom" type="xsd:float"/>
			<xsd:attribute name="ID" use="required" type="DisplayOptionsID"/>
			<xsd:attribute name="Display" use="required">
				<xsd:annotation>
					<xsd:documentation>Specifies to display the image as greyscale or RGB</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="RGB"/>
						<xsd:enumeration value="Grey"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RedChannel" type="ChannelSpecType">
		<xsd:annotation>
			<xsd:documentation>
				The wave number, black level, white level and optional gamma for the red channel of an RGB image.
				Pixel values between BlackLevel and WhiteLevel will be assigned values 0-255, respectively.
				Values below BlackLevel or above WhiteLevel will be assigned 0 and 255 respectively.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GreenChannel" type="ChannelSpecType">
		<xsd:annotation>
			<xsd:documentation>
				The wave number, black level, white level and optional gamma for the green channel of an RGB image.
				Pixel values between BlackLevel and WhiteLevel will be assigned values 0-255, respectively.
				Values below BlackLevel or above WhiteLevel will be assigned 0 and 255 respectively.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BlueChannel" type="ChannelSpecType">
		<xsd:annotation>
			<xsd:documentation>
				The wave number, black level, white level and optional gamma for the blue channel of an RGB image.
				Pixel values between BlackLevel and WhiteLevel will be assigned values 0-255, respectively.
				Values below BlackLevel or above WhiteLevel will be assigned 0 and 255 respectively.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GreyChannel">
		<xsd:annotation>
			<xsd:documentation>
				The wave number, black level, white level and optional gamma for a greyscale image.
				The GreyChannel element may contain an optional ColorMap attribute, which can be set to 'Greyscale', 'Spectrum' or 'Blackbody'
				Pixel values between BlackLevel and WhiteLevel will be assigned values 0-255, inclusive.
				Values below BlackLevel or above WhiteLevel will be assigned 0 and 255 respectively.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ChannelSpecType">
					<xsd:attribute name="ColorMap" default="Greyscale">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Greyscale"/>
								<xsd:enumeration value="Spectrum"/>
								<xsd:enumeration value="Blackbody"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Projection">
		<xsd:annotation>
			<xsd:documentation>
				The presence of this element indicates the user wants to view the Image as a maximum intensity projection.
				The ZStart and ZStop attributes are optional.  If they are not specified, then the entire Z stack will be pro
 				z values are index from 0 to maxZ - 1
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="ZStart" type="xsd:integer"/>
			<xsd:attribute name="ZStop" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:annotation>
			<xsd:documentation>
				The time range the user is interested in the initial viewer display.  A range of timepoints indicates a movie
				If they are not specified, the movie is to include all timepoints.
				If the Time attributes point to a single time-point, that is the timepoint to be initially displayed.
				If the entire element is missing, the first time-point  will be displayed
				t values are index from 0 to maxT - 1
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="TStart" type="xsd:integer"/>
			<xsd:attribute name="TStop" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Instrument">
		<xsd:annotation>
			<xsd:documentation>
				This element describes the instrument used to capture the Image.
				It is primarily a container for manufacturer's model and catalog numbers for the
				Microscope, LightSource, Detector, Objective and Filters components.
				Additionally, one or more OTF elements may be specified, describing the optical transfer function under different conditions.
				The Objective element contains the additional elements LensNA and Magnification.
				The Filters element can be composed either of separate excitation, emission filters and a dichroic mirror
				or a single filter set.  Within the Image itself, a reference is made to this one Filter element.
				The OTF element contains an optical transfer function.
				The same OTF can be used for all wavelengths, or there may be one per wavelength.
				There may be multiple light sources, detectors, objectives and filters on a microscope.
				Each of these has their own ID attribute, which can be referred to from LogicalChannel.
				It is understood that the light path configuration can be different for each channel,
				but cannot be different for each timepoint or each plane of an XYZ stack.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Microscope"/>
				<xsd:element ref="LightSource" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Detector" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Objective" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="FilterSet" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Filter" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Dichroic" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="OTF" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="InstrumentID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StageLabel">
		<xsd:annotation>
			<xsd:documentation>
				The StageLabel is used to specify a name and position for a stage position in the microscope's reference frame.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Name" use="required" type="xsd:string"/>
			<xsd:attribute name="X" type="xsd:float"/>
			<xsd:attribute name="Y" type="xsd:float"/>
			<xsd:attribute name="Z" type="xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Experimenter">
		<xsd:annotation>
			<xsd:documentation>
				This element describes a person who performed an imaging experiment.
				This person may also be a user of the OME system, in which case the OMEName element contains their login name.
				Experimenters may belong to one or more groups which are specified using one or more GroupRef elements.
				Note while FirstName, LastName, Email and OMEName are all optional to be valid an Experimenter must have AT LEAST ONE present
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation>
							At least one of (FirstName, LastName, Email, OMEName)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:element ref="FirstName"/>
						<xsd:element ref="LastName" minOccurs="0"/>
						<xsd:element ref="Email" minOccurs="0"/>
						<xsd:element ref="Institution" minOccurs="0"/>
						<xsd:element ref="OMEName" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="LastName"/>
						<xsd:element ref="Email" minOccurs="0"/>
						<xsd:element ref="Institution" minOccurs="0"/>
						<xsd:element ref="OMEName" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="Email"/>
						<xsd:element ref="Institution" minOccurs="0"/>
						<xsd:element ref="OMEName" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="Institution" minOccurs="0"/>
						<xsd:element ref="OMEName"/>
					</xsd:sequence>
				</xsd:choice>
				<xsd:element ref="GroupRef" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="ExperimenterID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OMEName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>This is the username of the experimenter (in a 'unix' or 'database' sense).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>First name, optionally containing a middle initial.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A person's last or surname.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Email" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A person's  email address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Objective">
		<xsd:annotation>
			<xsd:documentation>
				A description of the microscope's objective lens.
				Required elements include the lens numerical aperture, and the magnification, both of which a floating point (real) numbers.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ManufactSpec">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="Correction"/>
							<xsd:element ref="Immersion"/>
							<xsd:element ref="LensNA"/>
							<xsd:element ref="NominalMagnification"/>
							<xsd:element ref="CalibratedMagnification"/>
							<xsd:element ref="WorkingDistance"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="ID" use="required" type="ObjectiveID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObjectiveSettings">
		<xsd:annotation>
			<xsd:documentation>
				A description of the user settings on a microscope's objective lens.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ObjectiveRef"/>
			</xsd:sequence>
			<xsd:attribute name="CorrectionCollar" type="xsd:float"/>
			<xsd:attribute name="Medium" type="Medium"/>
			<xsd:attribute name="RefractiveIndex" type="xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Medium">
		<xsd:annotation>
			<xsd:documentation>
				A description of a Medium used either for the sample or the lens.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Air"/>
			<xsd:enumeration value="Oil"/>
			<xsd:enumeration value="Water"/>
			<xsd:enumeration value="Glycerol"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="Filter">
		<xsd:annotation>
			<xsd:documentation>
				A filter is either an excitation or emission filters.
				There should be one filter element specified per wavelength in the image.
				The channel number associated with a filter set is specified in LogicalChannel's required ChannelComponent element and its Index attribute.
				It is based on the FilterSpec type, so has the required attributes Manufacturer, Model, and LotNumber.
				It may also contain a Type attribute which may be set to
				'LongPass', 'ShortPass', 'BandPass', or 'MultiPass'.
				It can be associated with an optional FilterWheel - Note: this is not the same as a FilterSet
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FilterSpec">
				<xsd:sequence>
					<xsd:element ref="TransmittanceRange" maxOccurs="1"/>
				</xsd:sequence>
					<xsd:attribute name="Type">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="LongPass"/>
								<xsd:enumeration value="ShortPass"/>
								<xsd:enumeration value="BandPass"/>
								<xsd:enumeration value="MultiPass"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="FilterWheel" type="xsd:string" >
					<xsd:annotation>
						<xsd:documentation>
							A filter 'wheel' in OME can refer to any arrangement of filters in a filter holder of any shape. It could, for example, be a filter slider.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ID" use="required" type="FilterID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmittanceRange">
		<xsd:annotation>
			<xsd:documentation>
				CutIn Units: nm,
				CutOut Units: nm,
				CutInTolerance Units: nm,
				CutOutTolerance Units: nm,
				Transmittance Units: Percentage Fraction
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="CutIn" use="required" type="xsd:integer" />
			<xsd:attribute name="CutOut" use="required" type="xsd:integer" />
			<xsd:attribute name="CutInTolerance" type="xsd:integer" />
			<xsd:attribute name="CutOutTolerance" type="xsd:integer" />
			<xsd:attribute name="Transmittance" use="required" type="xsd:integer" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="NominalMagnification" type="xsd:integer">
			<xsd:annotation>
			<xsd:documentation>The magnification of the lens as specified by the manufacturer - i.e. '60' is a 60X lens.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalibratedMagnification" type="xsd:float">
		<xsd:annotation>
			<xsd:documentation>The magnification of the lens as measured by a calibration process- i.e. '59.987' for a 60X lens.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Correction" type="Correction">
		<xsd:annotation>
			<xsd:documentation>The coating applied to the lens</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Correction">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UV"/>
			<xsd:enumeration value="PlanApo"/>
			<xsd:enumeration value="PlanFluor"/>
			<xsd:enumeration value="SuperFluor"/>
			<xsd:enumeration value="VioletCorrected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Immersion" type="Immersion">
		<xsd:annotation>
			<xsd:documentation>The immersion medium the lens is designed for</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Immersion">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Oil"/>
			<xsd:enumeration value="Water"/>
			<xsd:enumeration value="WaterDipping"/>
			<xsd:enumeration value="Air"/>
			<xsd:enumeration value="Multi"/>
			<xsd:enumeration value="Glycerol"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="WorkingDistance" type="xsd:float">
		<xsd:annotation>
			<xsd:documentation>The working distance of the lens expressed as a floating point (real) number. Units are um.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LensNA" type="xsd:float">
		<xsd:annotation>
			<xsd:documentation>The numerical aperture of the lens expressed as a floating point (real) number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilterSet">
		<xsd:annotation>
			<xsd:documentation>Filter set manufacturer specification</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FilterSpec">
					<xsd:attribute name="ExFilterRef" type="FilterID" />
					<xsd:attribute name="DichroicRef" type="DichroicID"/>
					<xsd:attribute name="EmFilterRef" type="FilterID"/>
					<xsd:attribute name="ID" use="required" type="FilterSetID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Detector">
		<xsd:annotation>
			<xsd:documentation>
				The type of detector used to capture the image.
				The Detector ID can be used as a reference within the LogicalChannel element in the Image element.
				The Type attribute can be set to 'CCD','Intensified-CCD','Analog-Video','PMT','Photodiode','Spectroscopy','Life-time-Imaging','Correlation-Spectroscopy','FTIR'.
				Added new types EM-CCD, APD, and CMOS - ajp
				Added new optional attributes AmplificationGain and Zoom - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ManufactSpec">
					<xsd:attribute name="Gain" type="xsd:float"/>
					<xsd:attribute name="Voltage" type="xsd:float"/>
					<xsd:attribute name="Offset" type="xsd:float"/>
					<xsd:attribute name="Zoom" type="xsd:float"/>
					<xsd:attribute name="AmplificationGain" type="xsd:float"/>
					<xsd:attribute name="ID" use="required" type="DetectorID"/>
					<xsd:attribute name="Type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="CCD"/>
								<xsd:enumeration value="IntensifiedCCD"/>
								<xsd:enumeration value="AnalogVideo"/>
								<xsd:enumeration value="PMT"/>
								<xsd:enumeration value="Photodiode"/>
								<xsd:enumeration value="Spectroscopy"/>
								<xsd:enumeration value="LifetimeImaging"/>
								<xsd:enumeration value="CorrelationSpectroscopy"/>
								<xsd:enumeration value="FTIR"/>
								<xsd:enumeration value="EM-CCD"/>
								<xsd:enumeration value="APD"/>
								<xsd:enumeration value="CMOS"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Description">
		<xsd:annotation>
			<xsd:documentation>
				Just some free-form text to describe Images, Screens and Projects.
				The content model is currently ANY, but this is going to change to String in
				the near future. This is no longer the correct place for an XML sub-document
				- use CustomAttributes instead.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Microscope">
		<xsd:annotation>
			<xsd:documentation>The microscope's manufacturer specification.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ManufactSpec">
					<xsd:attribute name="Type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Upright"/>
								<xsd:enumeration value="Inverted"/>
								<xsd:enumeration value="Dissection"/>
								<xsd:enumeration value="Electrophysiology"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ManufactSpec">
		<xsd:attribute name="Manufacturer" use="required" type="xsd:string"/>
		<xsd:attribute name="Model" use="required" type="xsd:string"/>
		<xsd:attribute name="SerialNumber" type="xsd:string"/>
	</xsd:complexType>
	<xsd:element name="Thumbnail">
		<xsd:annotation>
			<xsd:documentation>
				The thumbnail may be an external URI reference specified by the href attribute, or it may contain an SVG sub-document
				(denoted by the #wildCard 'element').
				The MIMEtype is a required attribute, and must be set to 'SVG' if the tag's contents are an SVG document.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any namespace="http://www.w3.org/2000/svg" processContents="strict" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="href" type="xsd:anyURI"/>
			<xsd:attribute name="MIMEtype" use="required" type="MIMEtype"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Project">
		<xsd:annotation>
			<xsd:documentation>
				The Project ID and Name attributes are required.
				Datasets can be grouped into projects using a many-to-many relationship.
				A Dataset may belong to one or more Projects by including one or more ProjectRef elements which refer to Project IDs.
				Projects do not directly contain images - only by virtue of containing datasets, which themselves contain images.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="ExperimenterRef"/>
				<xsd:element ref="GroupRef" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" use="required" type="xsd:string"/>
			<xsd:attribute name="ID" use="required" type="ProjectID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="MIMEtype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Hex40">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:length value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MetalVaporLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Cu"/>
			<xsd:enumeration value="Ag"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExcimerLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ArFl"/>
			<xsd:enumeration value="ArCl"/>
			<xsd:enumeration value="KrFl"/>
			<xsd:enumeration value="KrCl"/>
			<xsd:enumeration value="XeFl"/>
			<xsd:enumeration value="XeCl"/>
			<xsd:enumeration value="XeBr"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="Ar"/>
			<xsd:enumeration value="Kr"/>
			<xsd:enumeration value="Xe"/>
			<xsd:enumeration value="HeNe"/>
			<xsd:enumeration value="HeCd"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CO2"/>
			<xsd:enumeration value="H2O"/>
			<xsd:enumeration value="HFl"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SolidStateLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NdGlass"/>
			<xsd:enumeration value="NdYAG"/>
			<xsd:enumeration value="ErGlass"/>
			<xsd:enumeration value="ErYAG"/>
			<xsd:enumeration value="HoYLF"/>
			<xsd:enumeration value="HoYAG"/>
			<xsd:enumeration value="Ruby"/>
			<xsd:enumeration value="TiSapphire"/>
			<xsd:enumeration value="Alexandrite"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DyeLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rhodamine6G"/>
			<xsd:enumeration value="CoumarinC30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SemiconductorLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GaAs"/>
			<xsd:enumeration value="GaAlAs"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FreeElectronLaserMedia">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EMinus"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LaserMedia">
		<xsd:union memberTypes="MetalVaporLaserMedia ExcimerLaserMedia GasLaserMedia SolidStateLaserMedia DyeLaserMedia SemiconductorLaserMedia FreeElectronLaserMedia"/>
	</xsd:simpleType>
	<xsd:simpleType name="PercentFraction">
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="1.0"/>
			<xsd:minInclusive value="0.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LSID">
		<xsd:annotation>
			<xsd:documentation>
				Either LSID or internal consistent IDs for the file - ajp
				To Do - Put in some samples of valid lsid and internal ID - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:\S+:\S+)|(\S+:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProjectID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Project:\S+)|(Project:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DatasetID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Dataset:\S+)|(Dataset:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ImageID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Image:\S+)|(Image:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegionID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Region:\S+)|(Region:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExperimenterID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Experimenter:\S+)|(Experimenter:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Group:\S+)|(Group:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExperimentID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Experiment:\S+)|(Experiment:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MicrobeamManipulationID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:MicrobeamManipulation:\S+)|(MicrobeamManipulation:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ROIID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:ROI:\S+)|(ROI:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InstrumentID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Instrument:\S+)|(Instrument:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectiveID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Objective:\S+)|(Objective:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectiveSettingsID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:ObjectiveSettings:\S+)|(ObjectiveSettings:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LightSourceID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:LightSource:\S+)|(LightSource:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DichroicID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Dichroic:\S+)|(Dichroic:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FilterID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Filter:\S+)|(Filter:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FilterSetID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:FilterSet:\S+)|(FilterSet:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OTFID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:OTF:\S+)|(OTF:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DetectorID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Detector:\S+)|(Detector:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PixelsID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Pixels:\S+)|(Pixels:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DisplayOptionsID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:DisplayOptions:\S+)|(DisplayOptions:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogicalChannelID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:LogicalChannel:\S+)|(LogicalChannel:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PixelTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bit"/>
			<xsd:enumeration value="int8"/>
			<xsd:enumeration value="int16"/>
			<xsd:enumeration value="int32"/>
			<xsd:enumeration value="uint8"/>
			<xsd:enumeration value="uint16"/>
			<xsd:enumeration value="uint32"/>
			<xsd:enumeration value ="float"/>
			<xsd:enumeration value ="double"/>
			<xsd:enumeration value ="complex"/>
			<xsd:enumeration value ="double-complex"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ModuleID">
		<xsd:restriction base="LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Module:\S+)|(Module:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ProjectRef">
		<xsd:annotation>
			<xsd:documentation>
				There may be one or more of these in a Dataset.
				This empty element has a required Project ID attribute that refers to Projects defined within the OME element.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ProjectID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExperimenterRef">
		<xsd:annotation>
			<xsd:documentation>
				This empty element has a required Experimenter ID and an optional DocumentID attribute which refers to one of the Experimenters defined within OME.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ExperimenterID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Group">
		<xsd:annotation>
			<xsd:documentation>
				The Group ID and Name attributes are required.
				Contact information should be specified for the leader of the group and a contact person.
				The Leader and/or Contact are themselves experimenters defined in OME, but they need not have OMENames.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Leader" minOccurs="0"/>
				<xsd:element ref="Contact" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="ID" use="required" type="GroupID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Leader">
		<xsd:annotation>
			<xsd:documentation>
				Contact information for a Group leader specified using a reference to an Experimenter element defined elsewhere in the document.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ExperimenterID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contact">
		<xsd:annotation>
			<xsd:documentation>
				The Contact element describes the contact person for a group of experimenters - typically a project leader or lab manager.
				This person is specified as a reference to an OME experimenter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ExperimenterID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GroupRef">
		<xsd:annotation>
			<xsd:documentation>This empty element has a reference (the Group ID attribute) to a Group defined within OME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="GroupID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InstrumentRef">
		<xsd:annotation>
			<xsd:documentation>
				This empty element can be used (via the required Instrument ID attribute) to refer to an Instrument defined within OME.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="InstrumentID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Institution" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				The organizing structure that people belong to other than groups.  A university, or company, etc.
				We do not specify a department element, and do not mean for Institution to be used in this way.
				We simply wish to say XXX at YYY.  Where YYY has a better chance of being tied to a geographically fixed location
				and of being more recognizable than a group of experimenters.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Dichroic">
		<xsd:annotation>
			<xsd:documentation>The dichromatic beamsplitter or dichroic mirror used for this filter combination.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FilterSpec">
					<xsd:attribute name="ID" use="required" type="DichroicID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROI">
		<xsd:annotation>
			<xsd:documentation>
				A four dimensional 'Region of Interest'.  The Z and T coordinates are optional.
				If they are not used, and the Image has more than one plane,
				the entire set of planes is assumed to be included in the ROI.
				Multiple ROIs may be specified - these are meant to be displayed somehow.
				Added ID - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="X0" use="required" type="xsd:integer"/>
			<xsd:attribute name="Y0" use="required" type="xsd:integer"/>
			<xsd:attribute name="Z0" type="xsd:integer"/>
			<xsd:attribute name="T0" type="xsd:integer"/>
			<xsd:attribute name="X1" use="required" type="xsd:integer"/>
			<xsd:attribute name="Y1" use="required" type="xsd:integer"/>
			<xsd:attribute name="Z1" type="xsd:integer"/>
			<xsd:attribute name="T1" type="xsd:integer"/>
			<xsd:attribute name="ID" use="required" type="ROIID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROIRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ROIID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="FilterSpec">
		<xsd:annotation>
			<xsd:documentation>
				An element type specifying a filter specification.
				Unlike the ManufactSpec, filters are referred to by lot number rather than serial number.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Manufacturer" use="required" type="xsd:string"/>
		<xsd:attribute name="Model" use="required" type="xsd:string"/>
		<xsd:attribute name="LotNumber" type="xsd:string"/>
	</xsd:complexType>
	<xsd:element name="LightSource">
		<xsd:annotation>
			<xsd:documentation>
				The lightsource for the instrument.  An instrument may have several light sources.
				The type of lightsource is specified by one of the child-elements which are 'Laser', 'Filament' or 'Arc'.
				Each of the light source types has its own Type attribute to further differentiate the light source
				(eg, Nd-YAG for Laser or Hg for Arc).
				A LightSource ID must be specified for each light source,
				and the individual light sources can be referred to by their LightSource IDs (eg from LogicalChannel).
				Lasers may have a Pump sub-element which refers to another LightSource used as a laser pump.
				Moved Power into LightSource from Laser - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ManufactSpec">
					<xsd:choice>
						<xsd:element ref="Laser"/>
						<xsd:element ref="Filament"/>
						<xsd:element ref="Arc"/>
					</xsd:choice>
					<xsd:attribute name="ID" use="required" type="LightSourceID"/>
					<xsd:attribute name="Power" type="xsd:float"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OTF">
		<xsd:annotation>
			<xsd:documentation>
				The optical transfer function. FilterSetRef refers to the set of filters used in computing the OTF.
				BitsPerPixel is an integer '1', '8', '16'.
				The OpticalAxisAveraged is a boolean specifying whether or not optical axis averaging was done.
				SizeX, SizeY specify the width and height of the OTF.
				This element must contain a BinData element containing the Base64-encoded OTF.
				Both of these work the same way as they do for the Data element within Image.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ObjectiveRef"/>
				<xsd:element ref="FilterSetRef" minOccurs="0"/>
				<xsd:element ref="Bin:BinaryFile"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="OTFID"/>
			<xsd:attribute name="PixelType" use="required" type="PixelTypes"/>
			<xsd:attribute name="OpticalAxisAveraged" use="required" type="xsd:boolean"/>
			<xsd:attribute name="SizeX" use="required" type="xsd:positiveInteger"/>
			<xsd:attribute name="SizeY" use="required" type="xsd:positiveInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Dataset">
		<xsd:annotation>
			<xsd:documentation>
				An element specifying a collection of images that are always processed together.
				Images can belong to more than one Dataset, and a Dataset may contain more than one Image.
				Images contain one or more DatasetRef elements to specify what datasets they belong to.
				Once a Dataset has been processed in any way, its collection of images cannot be altered.
				Whether or not the list of Images in this dataset can be altered is specified by the Locked attribute.
				The ExperimenterRef and GroupRef elements specify the person and group this Dataset belongs to.
				Projects may contain one or more Datasets, and Datasets may belong to one or more Projects.
				This relationship is specified by listing ProjectRef elements within the Dataset element.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="ExperimenterRef" minOccurs="0"/>
				<xsd:element ref="GroupRef" minOccurs="0"/>
				<xsd:element ref="ProjectRef" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CA:CustomAttributes" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" use="required" type="xsd:string"/>
			<xsd:attribute name="ID" use="required" type="DatasetID"/>
			<xsd:attribute name="Locked" default="false" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatasetRef">
		<xsd:annotation>
			<xsd:documentation>
				The DatasetRef element refers to a Dataset by specifying the Dataset ID attribute.
				One or more DatasetRef elements may be listed within the Image element to specify what Datasets
				the Image belongs to.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="DatasetID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ImagingEnvironment">
		<xsd:annotation>
			<xsd:documentation>The Temperature is in Celsius, AirPressure is in millibars, Humidity and CO2Percent are percent-fractions from 0.0 to 1.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Temperature" type="xsd:float"/>
			<xsd:attribute name="AirPressure" type="xsd:float"/>
			<xsd:attribute name="Humidity" type="PercentFraction"/>
			<xsd:attribute name="CO2Percent" type="PercentFraction"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChannelComponent">
		<xsd:annotation>
			<xsd:documentation>
				Logical Channels are composed of ChannelComponents.  The Index attribute is an index into the channel dimension of the 5-D pixel array.
				If the Logical Channel specified by LogicalChannel has a PhotometricInterpretation attribute, then the ColorDomain attribute specifies which color channel
				this ChannelComponent belongs to.  For example 'R' for an 'RGB' PhotometricInterpretation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Pixels" use="required" type="PixelsID"/>
			<xsd:attribute name="ColorDomain" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Specifies which component of Photometric Interpretation to map a channel component to. i.e. w/ RGB this could be 'R', 'G', 'B'
						This can be null if a channel maps to a logical channel but is not included in the photometric interpretation.
						If this was null then the channel specified would normally be ignored.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Index" use="required" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>An index into the channel dimension of the 5-D pixel array</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Region">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Region" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CA:CustomAttributes" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Tag" use="required" type="xsd:string"/>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="ID" use="required" type="RegionID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reference">
		<xsd:annotation>
			<xsd:documentation>
				Reference is an empty complex type that is contained and extended by all the *Ref elements
				Each *Ref element defines an attribute named ID of simple type *ID and any other information that is needed
				Each simple type *ID is restricted to the base type LSID with an appropriate pattern
				-- ajp
			</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:element name="Laser">
		<xsd:annotation>
			<xsd:documentation>
				Laser types are specified using two attributes - the Type and the lasing medium (Medium).  Type is a string which may be set to:
				'Excimer','Gas','Metal Vapor','Solid State','Dye','Semiconductor', or 'Free Electron'.  The Medium attribute specifies the actual lasing medium
				for a given laser type (for example, 'Nd-YAG').  Additionally, the Wavelength (in nm), whether or not the laser is FrequencyDoubled or Tuneable may be specified.
				The Pulse attribute can be set to 'CW' (Continuous Wave),','Single','Q-Switched','Repetitive','Mode-Locked'.
				The Power attribute specifies the nominal laser power in watts.
				The Laser element may contain a Pump sub-element which refers to a LightSource used as a laser pump.
				Removed Power - ajp
				Added RepetitionRate - The is the rate in Hz at which the laser pulses. ajp
				Added PockelCell attribute - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Pump" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Excimer"/>
						<xsd:enumeration value="Gas"/>
						<xsd:enumeration value="MetalVapor"/>
						<xsd:enumeration value="SolidState"/>
						<xsd:enumeration value="Dye"/>
						<xsd:enumeration value="Semiconductor"/>
						<xsd:enumeration value="FreeElectron"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="LaserMedium" use="required" type="LaserMedia"/>
			<xsd:attribute name="Wavelength" type="xsd:positiveInteger"/>
			<xsd:attribute name="FrequencyMultiplication" type="xsd:positiveInteger"/>
			<xsd:attribute name="Tuneable" type="xsd:boolean"/>
			<xsd:attribute name="Pulse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CW"/>
						<xsd:enumeration value="Single"/>
						<xsd:enumeration value="QSwitched"/>
						<xsd:enumeration value="Repetitive"/>
						<xsd:enumeration value="ModeLocked"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="PockelCell" type="xsd:boolean"/>
			<xsd:attribute name="RepetitionRate" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>The is the rate in Hz at which the laser pulses if the Pulse type is 'Repetitive'
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Arc">
		<xsd:annotation>
			<xsd:documentation>
				The Arc element is used to describe various kinds of Arc lamps - Hg, Xe, HgXe.
				The Power attribute is the lamp's nominal power in watts.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Hg"/>
						<xsd:enumeration value="Xe"/>
						<xsd:enumeration value="HgXe"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Power" type="xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Filament">
		<xsd:annotation>
			<xsd:documentation>
				The Filament element is used to describe various kinds of filament bulbs such as Incadescent or Halogen.
				The Power attribute is the bulb's nominal power in watts.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Incandescent"/>
						<xsd:enumeration value="Halogen"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Power" type="xsd:float"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LightSourceRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="LightSourceID"/>
					<xsd:attribute name="Attenuation" type="PercentFraction"/>
					<xsd:attribute name="Wavelength" type="xsd:positiveInteger"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterSetRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="FilterSetID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OTFRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="OTFID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DetectorRef">
		<xsd:annotation>
			<xsd:documentation>
				Added Voltage - ajp
				Added ReadOutRate units of MHz - ajp
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="DetectorID"/>
					<xsd:attribute name="Offset" type="xsd:float"/>
					<xsd:attribute name="Gain" type="xsd:float"/>
					<xsd:attribute name="Voltage" type="xsd:float"/>
					<xsd:attribute name="ReadOutRate" type="xsd:float">
						<xsd:annotation><xsd:documentation>The speed at which the detector can count pixels. Units of ReadOutRate is MHz. This is the bytes per second that can be read from the detector (like a baud rate). </xsd:documentation></xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Binning" type="Binning">
						<xsd:annotation><xsd:documentation>Represents the number of pixels that are combined to form larger pixels.</xsd:documentation></xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Binning">
		<xsd:annotation>
			<xsd:documentation>
				Predefined list of values for the number of pixels that can be combined to form larger pixels.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1x1"/>
			<xsd:enumeration value="2x2"/>
			<xsd:enumeration value="4x4"/>
			<xsd:enumeration value="8x8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Pump">
		<xsd:annotation>
			<xsd:documentation>
				The Pump element is a reference to a LightSource.  It is used within the Laser element to specify the light source for the laser's pump (if any).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="LightSourceID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObjectiveRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ObjectiveID"/>
					<xsd:attribute name="CorrectionCollar" type="xsd:float"/>
					<xsd:attribute name="Medium" type="Medium"/>
					<xsd:attribute name="RefractiveIndex" type="xsd:float">
						<xsd:annotation><xsd:documentation>This is unit-less, it is a ratio.</xsd:documentation></xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObjectiveSettingsRef">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Reference">
					<xsd:attribute name="ID" use="required" type="ObjectiveSettingsID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ChannelSpecType">
		<xsd:attribute name="ChannelNumber" use="required" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>Specifies the channel number in the pixel dump.  Channels are numbered from 0.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="BlackLevel" use="required" type="xsd:float">
			<xsd:annotation>
				<xsd:documentation>The black level is used to scale pixel values to an 8 bit colorspace for display. For example, a 16 bit pixel value must be downscaled to fit an 8 bit display.
Any pixel value below the black value will be set to the minimum value of the scale range (0).
Because the file schema offers support for non-integer pixel types, this is stored as a floating point number to offer maximum generality. Specifying a decimal value for an integer pixel type is ill defined.
Valid range of values for black level is less than the white level and within the data range for the pixel type.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="WhiteLevel" use="required" type="xsd:float">
			<xsd:annotation>
				<xsd:documentation>The white level is used  to scale pixel values to an 8 bit colorspace for display. For example, a 16 bit pixel value must be downscaled to fit an 8 bit display.
Any pixel value above the white value will be set to the maximum value of the scale range (255).
Because the file schema offers support for non-integer pixel types, this is stored as a floating point number to offer maximum generality. Specifying a decimal value for an integer pixel type is ill defined.
The valid range for white level is greater than the black level and within the data range for the pixel type.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Gamma" type="xsd:float"/>
		<xsd:attribute name="isOn" type="xsd:boolean"/>
	</xsd:complexType>
</xsd:schema>
