components/specification/OME/src/xml/workingcopy/AnalysisChain.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Copyright (C) 2003-2007 Open Microscopy Environment
#       Massachusetts Institute of Technology,
#       National Institutes of Health,
#       University of Dundee
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->




<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Ilya G. Goldberg, Josiah Johnston, Andrew J Patterson 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->



<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/AnalysisChain/2.0-RC1/AnalysisChain.xsd"
	 xmlns:AC = "http://www.openmicroscopy.org/XMLschemas/AnalysisChain/2.0-RC1/AnalysisChain.xsd"
	 version = "2.0-RC1"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	
	<element name = "AnalysisChain">
		<complexType>
			<sequence>
				<element ref = "AC:Nodes"/>
				<element ref = "AC:Links"/>
			</sequence>
			<attribute name = "Name" use = "required" type = "string"/>
			<attribute name = "Locked" default = "false" type = "boolean"/>
		</complexType>
	</element>
	<element name = "Nodes">
		<complexType>
			<sequence>
				<element ref = "AC:Node" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "Node">
		<complexType>
			<attribute name = "NodeID" use = "required" type = "string"/>
			<attribute name = "ProgramName" use = "required" type = "string"/>
			<attribute name = "IteratorTag" type = "string"/>
			<attribute name = "NewFeatureTag" type = "string"/>
		</complexType>
	</element>
	<element name = "Links">
		<complexType>
			<sequence>
				<element ref = "AC:Link" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "Link">
		<complexType>
			<attribute name = "FromNodeID" use = "required" type = "string"/>
			<attribute name = "FromOutputName" use = "required" type = "string"/>
			<attribute name = "ToNodeID" use = "required" type = "string"/>
			<attribute name = "ToInputName" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "AnalysisChains">
		<complexType>
			<sequence>
				<element ref = "AC:AnalysisChain" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>
