components/specification/OME/src/xml/workingcopy/SPW.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2007 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee
    #
    #
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    # Written by:  Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk>
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<xsd:schema xmlns="http://www.openmicroscopy.org/XMLschemas/SPW/2007-06" 
    targetNamespace="http://www.openmicroscopy.org/XMLschemas/SPW/2007-06" 
    xmlns:OME="http://www.openmicroscopy.org/XMLschemas/OME/2007-06" 
    xmlns:AML="http://www.openmicroscopy.org/XMLschemas/AnalysisModule/2007-06" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    version="1" 
    elementFormDefault="qualified">
    <xsd:import namespace="http://www.openmicroscopy.org/XMLschemas/OME/2007-06" schemaLocation="ome.xsd"/>
    <xsd:import namespace="http://www.openmicroscopy.org/XMLschemas/AnalysisModule/2007-06" schemaLocation="AnalysisModule.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Open Microscopy Environment
            Screen, Plate, and Well XML Schema
            Author:  Andrew J Patterson
        </xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="ExternDBref">
        <xsd:annotation>
            <xsd:documentation>
				A type based on string used to store a referance to an object in an external database. 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
 
   <xsd:element name="Plate">
        <xsd:annotation>
            <xsd:documentation>
                This element identifies microtiter plates within a screen.
                A plate can belong to more than one screen.
                The Screen(s) that a plate belongs to are specified by the ScreenRef element.
                The EternRef attribute may contain a reference to an external database.
                The Plate ID and Name attributes are required.
                The Name identifies the plate to the user.  It is used much like the Plate ID, and so must be unique within the document.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PlateDataset" minOccurs="0"/>
                <xsd:element ref="ScreenPlate" minOccurs="0"/>
                <xsd:element ref="Well" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="PlateID"/>
            <xsd:attribute name="Name" use="required" type="xsd:string"/>
            <xsd:attribute name="Description" use="required" type="xsd:string"/>
            <xsd:attribute name="Status" use="required" type="xsd:string"/>
            <xsd:attribute name="ExternRef" type="ExternDBref">
                <xsd:annotation>
                    <xsd:documentation>
						This is called ExternalIdentifier in the EA Diagrams
                    </xsd:documentation>
                </xsd:annotation>     	
			</xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="PlateDataset">
        <xsd:annotation>
            <xsd:documentation>
                This is a link between a Dataset and a Plate.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="AML:Entry" maxOccurs="unbounded"/>
                <xsd:element ref="AML:Description" minOccurs="0"/>
                <xsd:element ref="OME:Dataset" minOccurs="0"/>
                <xsd:element ref="Plate" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="Name" use="required">
                <xsd:annotation>
                    <xsd:documentation>Tied to DB. LOOKUP_TABLES.NAME</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="64"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>     
    </xsd:element>

    <xsd:element name="PlateImage">
        <xsd:annotation>
            <xsd:documentation>
                A PlateImage is an image attribute that serves as a short-cut between
                a set of Images and the Plate they belong to. 
                
                Not sure what this maps to in EA - ajp
                Is it ScreenPlate? Nope - ajp
                Probably not needed in xsd at all - ajp
            </xsd:documentation>
        </xsd:annotation>  
        <xsd:complexType>
            <xsd:sequence>
            <xsd:element ref="OME:Image" minOccurs="0"/>
            <xsd:element ref="PlateRef" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="PlateRef">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="OME:Reference">
                    <xsd:attribute name="ID" use="required" type="PlateID"/>
                    <xsd:attribute name="Well" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[A-Z]+[0-9]+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="Sample" type="xsd:integer"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="PlateID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:Plate)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="Reagent">
        <xsd:annotation>
            <xsd:documentation>
                Reagent is used to describe a chemical or some other physical experimental parameter.
            </xsd:documentation>
        </xsd:annotation>      
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ReagentWell" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="ReagentID"/>
            <xsd:attribute name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>                   
            </xsd:attribute>
            <xsd:attribute name="Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>                
            </xsd:attribute>
            <xsd:attribute name="ReagentIdentifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This is a reference to an external (to OME) representation of the Reagent.
                        It serves as a foreign key into an external database. - aka ExternalIdentifier
                    </xsd:documentation>
                </xsd:annotation>      
            </xsd:attribute>
       </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="ReagentID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:Reagent)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="ReagentWell">
        <xsd:annotation>
            <xsd:documentation>
                A ReagentWell is used to link a Reagent to a Well (and from there to Plates and Screens)
                A WellSample is an image attribute that also has a reference to Well.  Images
                can be linked to Reagents in a Screen format by having WellSample and ReagentWell refer to
                the same Well.
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Reagent" minOccurs="0"/>
                <xsd:element ref="Well" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Screen">
        <xsd:annotation>
            <xsd:documentation>
                The Screen element is a grouping for Plates.
                The required attribute is the Screen's Name and ID - both must be unique within the document.
                The Screen element may contain an ExternalRef attribute that refers to an external database.
                A description of the screen may be specified in the Description element.
                Screens may contain overlapping sets of Plates i.e.  Screens and Plates have a many-to-many relationship.
                Plates contain one or more ScreenRef elements to specify what screens they belong to.
                Added - ProtocolIdentifier, ProtocolDescription, ReagentSetDescription, ReagentSetIdentifier, and Type - ajp
                Is ExternRef needed - not in EA model? - only in DB model - removed - ajp
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="OME:Description" minOccurs="0"/>
                <xsd:element ref="ScreenPlate" minOccurs="0"/>
                <xsd:element ref="ScreenImage" minOccurs="0"/>
                <xsd:element ref="ScreenAcquisition" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="ScreenID"/>
            <xsd:attribute name="Name" use="required" type="xsd:string"/>
            <xsd:attribute name="ProtocolIdentifier" type="ExternDBref"/>
            <xsd:attribute name="ProtocolDescription" type="xsd:string"/>
            <xsd:attribute name="ReagentSetDescription" type="xsd:string"/>
            <xsd:attribute name="ReagentSetIdentifier" type="xsd:string"/>
            <xsd:attribute name="Type" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="ScreenID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:Screen)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="ScreenRef">
        <xsd:annotation>
            <xsd:documentation>
                The ScreenRef element is a reference to a Screen element.
                Plate elements may have one or more ScreenRef elements to define the screen that a plate belongs to.
                Plates may belong to more than one screen.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="OME:Reference">
                    <xsd:attribute name="ID" use="required" type="ScreenID"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ScreenAcquisition">
        <xsd:annotation>
            <xsd:documentation>
                ScreenAcquisition is used to describe a single acquisition run for a screen.
                Since Screens are abstract, this object is used to record the set of images
                acquired in a single acquisition run.  The Images for this run are linked
                to ScreenAcquisition through WellSample.
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Screen" minOccurs="0"/>
                <xsd:element ref="WellSample" minOccurs="0"/>
                <xsd:element ref="OME:Image" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="ScreenAcquisitionID"/>
            <xsd:attribute name="EndTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="ScreenAcquisitionID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:ScreenAcquisitation)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="ScreenImage">
        <xsd:annotation>
            <xsd:documentation>
                A ScreenImage is an image attribute that serves as a short-cut between
                a set of Images and the Screen they belong to.
            </xsd:documentation>
        </xsd:annotation>      
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Screen" minOccurs="0"/>
                <xsd:element ref="OME:Image" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ScreenPlate">
        <xsd:annotation>
            <xsd:documentation>
                A ScreenPlate serves as the link between a Screen and the Plates its composed of.
            </xsd:documentation>
        </xsd:annotation>     
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Screen" minOccurs="0"/>
                <xsd:element ref="Plate" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Well">
        <xsd:annotation>
            <xsd:documentation>
                A Well is a component of the Well/Plate/Screen construct to describe screening applications.
                Well is an abstract referand for various objects that describe things about a Well.
                A WellSample links an Image to a Well, a WellReagent links a Reagent to a Well.
            </xsd:documentation>
        </xsd:annotation> 
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="OME:Image" minOccurs="0"/>
                <xsd:element ref="WellSample" minOccurs="0"/>
                <xsd:element ref="Plate" minOccurs="0"/>
                <xsd:element ref="ReagentWell" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="WellID"/>
            <xsd:attribute name="Column" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
            <xsd:attribute name="ExternalDescription" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>                 
            </xsd:attribute>
            <xsd:attribute name="ExternalIdentifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>          
            </xsd:attribute>
            <xsd:attribute name="Row" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>         
            </xsd:attribute>
            <xsd:attribute name="Type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="WellID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:Well)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="WellSample">
        <xsd:annotation>
            <xsd:documentation>
               	A WellSample links an Image to a Well, a WellReagent links a Reagent to a Well.
            </xsd:documentation>
        </xsd:annotation> 
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ScreenAcquisition" minOccurs="0"/>
                <xsd:element ref="Well" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required" type="WellSampleID"/>
            <xsd:attribute name="Index" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
            <xsd:attribute name="PosX" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PosY" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Timepoint" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>     
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="WellSampleID">
        <xsd:restriction base="OME:LSID">
            <xsd:pattern value="(urn:lsid:)?(\S+\.\S+)+(:WellSample)(:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
