components/specification/Xml/Working/ROI.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<?xml-stylesheet href="http://cvs.openmicroscopy.org.uk/snapshots/omero/editor/omeXsd/display.xsl" type="text/xsl"?>
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	#
	# Copyright (C) 2003-2009 Open Microscopy Environment
	#       Massachusetts Institute of Technology,
	#       National Institutes of Health,
	#       University of Dundee,
	#       University of Wisconsin at Madison
	#
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Andrew J Patterson 
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/Schemas/ROI/2008-09"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/ROI/2008-09"
	xmlns:OME = "http://www.openmicroscopy.org/Schemas/OME/2008-09"
	xmlns:BIN="http://www.openmicroscopy.org/Schemas/BinaryFile/2008-09" 
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	version = "1"
	elementFormDefault = "qualified">
	<!-- Using the svn location for import -->
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2008-09" schemaLocation="http://cvs.openmicroscopy.org.uk/svn/specification/Xml/Working/ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/BinaryFile/2008-09" schemaLocation="http://cvs.openmicroscopy.org.uk/svn/specification/Xml/Working/BinaryFile.xsd"/>
	<!-- Using the local directory location for import 
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2008-09" schemaLocation="ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/BinaryFile/2008-09" schemaLocation="BinaryFile.xsd"/>
	-->
	
	<xsd:element name="ROI"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				A four dimensional 'Region of Interest'.
				If they are not used, and the Image has more than one plane,
				the entire set of planes is assumed to be included in the ROI.
				Multiple ROIs may be specified.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="Union" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Shape" minOccurs="1" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="ID" use="required" type="ROIID"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Shape"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Channels" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="OME:ChannelRef" minOccurs="1" maxOccurs="unbounded"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice minOccurs="1" maxOccurs="1">
					<xsd:element ref="Rect" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Mask" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Ellipse" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Point" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Polygon" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Polyline" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="Line" minOccurs="1" maxOccurs="1"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="ShapeID"/>
			<xsd:attribute name="TheZ" use="optional" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						MISSING
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="TheT" use="optional" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						MISSING
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="BasicSvgShape"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Transform" use="optional" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					MISSING
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:element name="Rect"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="X" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Y" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Width" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Height" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Mask"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:sequence>
						<xsd:element ref="OME:Pixels" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="X" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Y" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Point"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="X" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Y" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Ellipse"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>		
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="CenterX" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="CenterY" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="RadiusX" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="RadiusY" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Line"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="X1" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Y1" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="X2" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="Y2" use="required" type="xsd:float">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Polyline"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="Points" use="optional" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Polygon"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				MISSING
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BasicSvgShape">
					<xsd:attribute name="Points" use="optional" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								MISSING
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ROIRef"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OME:Reference">
					<xsd:attribute name="ID" use="required" type="ROIID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="ROIID"> <!-- top level definition -->
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:ROI:\S+)|(ROI:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="ShapeID"> <!-- top level definition -->
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:ROI:\S+)|(Shape:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
