components/specification/Xml/Working/SA.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	#
	# Copyright (C) 2003-2008 Open Microscopy Environment
	#       Massachusetts Institute of Technology,
	#       National Institutes of Health,
	#       University of Dundee,
	#       University of Wisconsin at Madison
	#
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Andrew J Patterson 
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/Schemas/SA/2008-02"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/SA/2008-02"
	xmlns:OME = "http://www.openmicroscopy.org/Schemas/OME/2008-02"
	xmlns:Bin="http://www.openmicroscopy.org/Schemas/BinaryFile/2008-02" 
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	version = "1"
	elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.openmicroscopy.org/Schemas/OME/2008-02" schemaLocation = "ome-roi-sa.xsd"/>
	<xsd:import namespace = "http://www.openmicroscopy.org/Schemas/BinaryFile/2008-02" schemaLocation = "BinaryFile.xsd"/>
	<xsd:element name="StructuredAnnotations"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="SvgAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="FileAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="ListAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="TextAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="LongAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="DoubleAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="ProfileAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="BooleanAnnotation" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="TimestampAnnotation" minOccurs="1" maxOccurs="1"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CommonAnnotation" abstract="true">
		<xsd:sequence>
			<xsd:element ref="Link" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" use="required" type="AnnotationID"></xsd:attribute>
		<xsd:attribute name="Namespace" use="required" type="xsd:anyURI"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Link"> <!-- top level definition --> 
		<xsd:simpleType>
			<xsd:restriction base="OME:LSID"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:simpleType name="AnnotationID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Annotation:\S+)|(Annotation:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="FileAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="FileName" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="MimeType" minOccurs="0" maxOccurs="1" type="OME:MIMEtype"/>	
						<xsd:choice minOccurs="1" maxOccurs="1">
							<xsd:element ref="Bin:BinData" minOccurs="1" maxOccurs="1"/>
							<xsd:element name="ExternalFile" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent> 
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SvgAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:attribute name="fill" use="optional" type="xsd:string"/>
					<xsd:attribute name="fill-opacity" use="optional" type="xsd:string"/>
					<xsd:attribute name="fill-rule" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-opacity" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-width" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-dashoffset" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-dasharray" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-linecap" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-linejoin" use="optional" type="xsd:string"/>
					<xsd:attribute name="stroke-miterlimit" use="optional" type="xsd:string"/>
					<xsd:attribute name="color-interpolation" use="optional" type="xsd:string"/>
					<xsd:attribute name="color-rendering" use="optional" type="xsd:string"/>
					<xsd:attribute name="opacity" use="optional" type="xsd:string"/>
					<xsd:attribute name="marker-end" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-family" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-size" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-adjust" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-strech" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-style" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-variant" use="optional" type="xsd:string"/>
					<xsd:attribute name="font-weight" use="optional" type="xsd:string"/>
					<xsd:attribute name="alignment-baseline" use="optional" type="xsd:string"/>
					<xsd:attribute name="baseline-shift" use="optional" type="xsd:string"/>
					<xsd:attribute name="direction" use="optional" type="xsd:string"/>
					<xsd:attribute name="dominant-baseline" use="optional" type="xsd:string"/>
					<xsd:attribute name="glyph-orientation-horizontal" use="optional" type="xsd:string"/>
					<xsd:attribute name="glyph-orientation-vertical" use="optional" type="xsd:string"/>
					<xsd:attribute name="kerning" use="optional" type="xsd:string"/>
					<xsd:attribute name="letter-spacing" use="optional" type="xsd:string"/>
					<xsd:attribute name="text-anchor" use="optional" type="xsd:string"/>
					<xsd:attribute name="text-decoration" use="optional" type="xsd:string"/>
					<xsd:attribute name="unicode-bidi" use="optional" type="xsd:string"/>
					<xsd:attribute name="word-spacing" use="optional" type="xsd:string"/>
					<xsd:attribute name="rotate" use="optional" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ListAnnotation">  <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="List" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Link" minOccurs="1" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TextAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="TextType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LongAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="Value" type="xsd:long" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DoubleAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="Value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProfileAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:element name="InstrumentProfile" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="ChannelProfile" minOccurs="1" maxOccurs="1"/>
					</xsd:choice>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BooleanAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="Value" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	<xsd:element name="TimestampAnnotation"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CommonAnnotation">
					<xsd:sequence>
						<xsd:element name="Value" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ImageProfile"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				<!-- InstrumentRef is used instead of a reference to Microscope as 
					there is no ID in Microscope. There is a 1 to 1 mapping as each
					Instrument can contain only 1 Microscope.
				-->
				<xsd:element ref="OME:InstrumentRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OME:ObjectiveRef" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChannelProfile"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OME:LightSourceRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OME:OTFRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OME:DetectorRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OME:FilterSetRef" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
