components/specification/released-schema/2008-02/AnalysisModule.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Josiah Johnston <siah@nih.gov>, Andrew J Patterson
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/AnalysisModule/2008-02"
	xmlns:AML = "http://www.openmicroscopy.org/Schemas/AnalysisModule/2008-02"
	xmlns:CLI = "http://www.openmicroscopy.org/Schemas/CLI/2008-02"
	xmlns:Bin = "http://www.openmicroscopy.org/Schemas/BinaryFile/2008-02"
	xmlns:MLI = "http://www.openmicroscopy.org/Schemas/MLI/2008-02"
	xmlns:OME = "http://www.openmicroscopy.org/Schemas/OME/2008-02"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	version = "1"
	elementFormDefault = "qualified">
	<import namespace = "http://www.openmicroscopy.org/Schemas/CLI/2008-02" schemaLocation = "http://www.openmicroscopy.org/Schemas/CLI/2008-02/CLI.xsd"/>
	<import namespace = "http://www.openmicroscopy.org/Schemas/BinaryFile/2008-02" schemaLocation = "http://www.openmicroscopy.org/Schemas/BinaryFile/2008-02/BinaryFile.xsd"/>
	<import namespace = "http://www.openmicroscopy.org/Schemas/MLI/2008-02" schemaLocation = "http://www.openmicroscopy.org/Schemas/MLI/2008-02/MLI.xsd"/>
	<import namespace = "http://www.openmicroscopy.org/Schemas/OME/2008-02" schemaLocation = "http://www.openmicroscopy.org/Schemas/OME/2008-02/ome.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<element name = "Entry">
		<complexType>
			<attribute name = "Value" use = "required">
				<annotation>
					<documentation>Tied to DB. LOOKUP_TABLE_ENTRIES.VALUE</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "256"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Label">
				<annotation>
					<documentation>Tied to DB. LOOKUP_TABLE_ENTRIES.LABEL</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "256"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name = "LookupTable">
		<annotation>
			<documentation>Describes valid values for an input. Think enumerations, (a list of valid values).</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "AML:Entry" maxOccurs = "unbounded"/>
				<element ref = "OME:Description" minOccurs = "0"/>
			</sequence>
			<attribute name = "Name" use = "required">
				<annotation>
					<documentation>Tied to DB. LOOKUP_TABLES.NAME</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name = "FormalInput">
		<annotation>
			<documentation>Specifies an input requirement for a module. Image dimensions and image file locations (repository or other format) should not be specified with this. Image dimensions are intrinsic to an image. They do not represent a special requirement. Image file locations and contents are specified by other elements. Specifically, RawImageFile, RawImageFilePath, XYPlaneFile, and XYPlaneFilePath.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "AML:LookupTable" minOccurs = "0"/>
				<element ref = "OME:Description" minOccurs = "0"/>
			</sequence>
			<attribute name = "UserDefined" default = "false" type = "boolean">
				<annotation>
					<documentation>OME interprets this as a recommendation rather than a requirement.
Tied to DB. Table FORMAL_INPUTS Column USER_DEFINED
					</documentation>
				</annotation>
			</attribute>
			<attribute name = "Count" default = "+">
				<annotation>
					<documentation>Specifies how many counts of this formal input are expected. Meanings are specified below
! = exactly one
? = zero or one
+ = one or more
* = zero or more
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "!"/>
						<enumeration value = "?"/>
						<enumeration value = "+"/>
						<enumeration value = "*"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Name" use = "required">
				<annotation>
					<documentation>Valid characters are alphanumeric and spaces.</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<pattern value = "[A-Za-z0-9\-\^\(\)_ ]+"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "SemanticTypeName" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "FormalOutput">
		<annotation>
			<documentation>Specifies an output element of a module.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "OME:Description" minOccurs = "0"/>
			</sequence>
			<attribute name = "IBelongTo">
				<annotation>
					<documentation>Concerning MakeNewRegion attribute of ExecutionInstructions, if a new region type is made, then there are two possible places a formal output attribute can be stored: It can be stored as an attribute of the RegionIterator, or it can be stored as an attribute of the new Region.
This tag is supposed to specify which. Can be left blank if module does not make new iterator.
Tied to DB. FORMAL_OUTPUTS.FEATURE_TAG
Processed before storage to DB
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "[Region]"/>
						<enumeration value = "[Iterator]"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Count" default = "+">
				<annotation>
					<documentation>Specifies how many counts of this formal output will be produced. Meanings are specified below
! = exactly one
? = zero or one
+ = one or more
* = zero or more
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "!"/>
						<enumeration value = "?"/>
						<enumeration value = "+"/>
						<enumeration value = "*"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Name" use = "required">
				<simpleType>
					<restriction base = "string">
						<pattern value = "[A-Za-z0-9\-\^\(\)_ ]+"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "SemanticTypeName" type = "string">
				<annotation>
					<documentation>THIS IS REQUIRED for every formal output outside of the importer. The importer doesn't know what it will run into before it executes, so it can't declare the semantic type of its outputs. If you are writing a module, I HIGHLY HIGHLY recommend that you type your formal outputs.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name = "Declaration">
		<annotation>
			<documentation>States module requirements.
Formal Inputs are optional because input requirements may be specified by guaranteed image attributes. For example, OME_Image_XYZ_stats requires a path to the OME repository file, and Dimensions.
These are given by &lt;RawImageFilePath>, &lt;sizeX>, &lt;sizeY>, &lt;sizeZ>, &lt;sizeT>, and &lt;sizeW>.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "AML:FormalInput" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "AML:FormalOutput" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "AnalysisModule">
		<annotation>
			<documentation>Describes an interface to use with a program.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "OME:Description" minOccurs = "0"/>
				<element ref = "AML:Declaration"/>
				<choice minOccurs = "0">
					<element ref = "CLI:ExecutionInstructions"/>
					<element ref = "MLI:ExecutionInstructions"/>
				</choice>
			</sequence>
			<attribute name = "isStreamAlgorithm" default = "false" type = "boolean">
				<annotation>
					<documentation>This is a stub for future development. The database location doesn't even exist yet.
If the output of the analysis will be the same when pixel positions are scrambled, the analysis is a stream algorithm.
Examples of stream algorithms are:
	A statistics module that produces mean, geometric mean, standard deviation, etc. for pixel intensities.
	A module to cross correlate pixel intensities across wavelengths.
Example of an algorithms that is not a stream algorithm is:
	FindSpots. (It's a module to find blobs in an image.)
If a module is a stream algorithm, it can function across the x, y, z, and time dimensions.
Tied to DB. Table PROGRAMS Column IS_STREAM_ALGORITHM
					</documentation>
				</annotation>
			</attribute>
			<attribute name = "ModuleType" use = "required">
				<annotation>
					<documentation>As more handlers, are added, this part of the schema needs to be changed
Tied to DB. Table PROGRAMS Column MODULE_TYPE
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<pattern value = "OME::Analysis::.+"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "RegionIterator">
				<annotation>
					<documentation>If the module iterates over a region, specify the iterator here. It will reference a region via the TAG column of the REGIONS table.
An example of a module that does not iterate over a region is Find Cells. It examines one image at a time, hence it iterates over an image, not a region. It produces zero or more regions (Çell) per image. These Cell regions belong to an image.
This module would not get a RegionIterator attribute.
An example of a module that iterates over a region is Find Golgi. It examines one CELL at a time. A cell is a region, hence the module iterates over regions, not images or datasets. It produces zero or more Golgi regions per Cell region. These Golgi regions belong to a Cell region.
This module would get a RegionIterator attribute of "CELL".
Tied to DB. Table PROGRAMS Column DEFAULT_ITERATOR
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "128"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "NewRegionName">
				<annotation>
					<documentation>If this module makes new regions, then the new Region's name needs to be specified here.
If the module does not make new regions, do not specify a value for this attribute.
Tied to DB. PROGRAMS.NEW_FEATURE_TAG
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "128"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Category">
				<annotation>
					<documentation>References a Category.</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "32"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "ProgramID" use = "required" type = "string">
				<annotation>
					<documentation>Eventually will refer to a program. Currently program installation is NOT implemented. So this value is the path to the installed binary file. </documentation>
				</annotation>
			</attribute>
			<attribute name = "ModuleName">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "ID" use = "required" type = "AML:ModuleID"/>
		</complexType>
		<unique name = "FormalInput">
			<selector xpath = "AML:Declaration/AML:FormalInput"/>
			<field xpath = "@Name"/>
		</unique>
		<unique name = "FormalOutput">
			<selector xpath = "AML:Declaration/AML:FormalOutput"/>
			<field xpath = "@Name"/>
		</unique>
	</element>
	<element name = "InstallationScript">
		<annotation>
			<documentation>The script should interface with the OME API to find all information it needs. (i.e. installation path) It also needs to set the location of the program after the program is installed. The location should be set through the API, but it will propagate to the LOCATION column of the PROGRAMS table.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "Bin:BinaryFile"/>
			</sequence>
		</complexType>
	</element>
	<element name = "InstallationFile">
		<annotation>
			<documentation>Contains a packaged or zipped installation files (binaries or source code).</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "Bin:BinaryFile"/>
			</sequence>
			<attribute name = "Format" type = "string">
				<annotation>
					<documentation>This is a stub for future development. Don't bother with it unless you know more about it.
Specifies the packaging and/or compression format of the Installation file.
					</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name = "Installed">
		<complexType>
			<attribute name = "location" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "Program">
		<annotation>
			<documentation>Stores an installation package and installation script for a program.
This currently is NOT implemented.
			</documentation>
		</annotation>
		<complexType>
			<choice>
				<sequence>
					<element ref = "AML:InstallationScript"/>
					<element ref = "AML:InstallationFile"/>
				</sequence>
				<element ref = "AML:Installed"/>
			</choice>
			<attribute name = "Name">
				<annotation>
					<documentation>Program name.
Unclear how this would be used. DB location PROGRAMS.PROGRAM_NAME is populated by XML attribute AnalysisModule.Name.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Version" type = "string">
				<annotation>
					<documentation>Currently unused</documentation>
				</annotation>
			</attribute>
			<attribute name = "ProgramID" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "AnalysisModuleLibrary">
		<annotation>
			<documentation>An analysis module is defined by two things:
1) A program
2) An interface
A single program may have multiple interfaces. Why do you need multiple interfaces?
Pretend you have a program that calculates simple statistics on the pixels of an image. You can specify which statistics you want via parameters.
Typing
./stats -mean -sigma image1
will output
Image | mean | sigma
image1 12.4 1
Typing
./stats -geomean -mean image1
will output
Image | geomean | mean
image1 12.2 12.4
The outputs are completely different. You need to specify an interface for each of these behaviors.
Or pretend you have a powerful program that can do 10 unrelated tasks, each of which outputs an image. While the outputs are the same type and format, they represent 10 completely different things. In this case, it might make sense to define 10 corresponding AnalysisModule to represent the 10 logical functions.
In any case, use AnalysisModule to define an interface and Program to store installation software for a program.
			</documentation>
		</annotation>
		<!--
This was commented out by Josiah <siah@nih.gov> on July 3, 2003.
We don't support Program installation yet, and are using the value of ProgramID
in <AnalysisModule> to refer to the location of the installed program.
A temporary hack to be sure, but that's the way it works for now.
		<keyref name = "ProgramRef" refer = "AML:Program">
			<selector xpath = "AML:AnalysisModule"/>
			<field xpath = "@ProgramID"/>
		</keyref>
		<unique name = "Program">
			<selector xpath = "AML:Program"/>
			<field xpath = "@ProgramID"/>
		</unique>
-->
		<complexType>
			<sequence>
				<element ref = "AML:AnalysisModule" maxOccurs = "unbounded"/>
				<element ref = "AML:Category" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "AML:Program" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
		<unique name = "AnalysisModule">
			<selector xpath = "AML:AnalysisModule"/>
			<field xpath = "@AML:ModuleName"/>
		</unique>
	</element>
	<simpleType name = "Hex40">
		<restriction base = "hexBinary">
			<length value = "20"/>
		</restriction>
	</simpleType>
	<simpleType name = "ModuleID">
		<restriction base = "OME:LSID">
			<pattern value = "(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Module:\S+)|(Module:\S+)"/>
		</restriction>
	</simpleType>
	<element name = "Category">
		<complexType>
			<sequence>
				<element ref = "OME:Description"/>
			</sequence>
			<attribute name = "Path" use = "required">
				<annotation>
					<documentation>Categories are organized into hierarchical structures. This specifies the full path of this category in the following format.
Path = "GrandParent name.Parent name.Category name"
If you defined a sub category, we Strongly encourage you to also define all ancestor categories that are not part of the core OME specification.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<pattern value = "^[A-Za-z0-9 ]+(\.[A-Za-z0-9 ]+)*$"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
</schema>
