components/specification/released-schema/2003-RC1/AnalysisChain.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->




<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->



<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "AnalysisChain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Nodes"/>
				<xsd:element ref = "Links"/>
			</xsd:sequence>
			<xsd:attribute name = "Name" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "Locked" default = "false" type = "xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Nodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Node" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Node">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "NodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ProgramName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "IteratorTag" type = "xsd:string"/>
			<xsd:attribute name = "NewFeatureTag" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Links">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Link" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Link">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "FromNodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "FromOutputName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ToNodeID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "ToInputName" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AnalysisChains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AnalysisChain" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>