components/specification/released-schema/2003-RC1/STD.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/STD/RC1/STD.xsd"
	 xmlns:STD = "http://www.openmicroscopy.org/XMLschemas/STD/RC1/STD.xsd"
	 version = "RC1"
	 elementFormDefault = "qualified">
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
	<import namespace = "http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<element name = "Field">
		<annotation>
			<documentation>Defines a field</documentation>
		</annotation>
		<complexType>
			<attribute name = "Name" use = "required">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "DataType" use = "required">
				<simpleType>
					<restriction base = "string">
						<enumeration value = "integer"/>
						<enumeration value = "double"/>
						<enumeration value = "float"/>
						<enumeration value = "boolean"/>
						<enumeration value = "string"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Description" type = "string"/>
			<attribute name = "FieldID" use = "required" type = "NMTOKEN"/>
		</complexType>
	</element>
	<element name = "Record">
		<annotation>
			<documentation>Defines a record</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "STD:Field" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "Name" use = "required">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "AppliesTo" use = "required">
				<annotation>
					<documentation>This specifies what this record is an attribute of. The options are Global, Dataset, Image, or Feature.




					</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "G"/>
						<enumeration value = "D"/>
						<enumeration value = "I"/>
						<enumeration value = "F"/>
						<length value = "1"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Description" type = "string"/>
		</complexType>
		<unique name = "Field">
			<selector xpath = "STD:Field"/>
			<field xpath = "@Name"/>
		</unique>
	</element>
	<element name = "SemanticElement">
		<annotation>
			<documentation>Describes a field of a SemanticType</documentation>
		</annotation>
		<complexType>
			<attribute name = "Description" type = "string"/>
			<attribute name = "FieldID" use = "required" type = "NMTOKEN">
				<annotation>
					<documentation>References a Field.





					</documentation>
				</annotation>
			</attribute>
			<attribute name = "Name" use = "required">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name = "SemanticType">
		<annotation>
			<documentation>
				Defines a semantic type.
				Notes:
				Granularity of SemanticType is infered from the granularity of the record it derives from. In a record, this granularity is specified by the AppliesTo attribute.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "STD:SemanticElement" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "Description" type = "string"/>
			<attribute ref = "STD:SemanticTypeName" use = "required"/>
		</complexType>
		<unique name = "SemanticElement">
			<selector xpath = "STD:SemanticElement"/>
			<field xpath = "@Name"/>
		</unique>
	</element>
	<element name = "SemanticTypeDefinitions">
		<annotation>
			<documentation>Describes semantic types that can be derived from custom attributes. </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "STD:SemanticType" maxOccurs = "unbounded"/>
				<element ref = "STD:DataDefinitions"/>
			</sequence>
		</complexType>
		<unique name = "SemanticTypeName">
			<selector xpath = "STD:SemanticType"/>
			<field xpath = "@SemanticTypeName"/>
		</unique>
		<unique name = "FieldID">
			<selector xpath = ".//STD:Field"/>
			<field xpath = "@FieldID"/>
		</unique>
		<keyref name = "FieldIDref" refer = "STD:FieldID">
			<selector xpath = ".//STD:SemanticElement"/>
			<field xpath = "@FieldID"/>
		</keyref>
	</element>
	<element name = "DataDefinitions">
		<annotation>
			<documentation>Defines data structure and data type of custom attributes. Mandatory for custom attributes.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "STD:Record" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
		<unique name = "Record">
			<selector xpath = "STD:Record"/>
			<field xpath = "@Name"/>
		</unique>
	</element>
	<attribute name = "SemanticTypeName">
		<simpleType>
			<restriction base = "string">
				<maxLength value = "64"/>
			</restriction>
		</simpleType>
	</attribute>
</schema>
