components/specification/released-schema/2009-09/MLI.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- style sheet OFF -->
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Josiah Johnston <siah@nih.gov>, Andrew J Patterson
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/MLI/2009-09"
	xmlns:MLI = "http://www.openmicroscopy.org/Schemas/MLI/2009-09"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	version="1"
	elementFormDefault = "qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>

	<xsd:element name = "ExecutionInstructions"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>Instructions for executing a matlab function.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "MLI:FunctionInputs" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref = "MLI:FunctionOutputs" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref = "MLI:Templates" minOccurs = "0" maxOccurs="1"/>
				<xsd:element ref = "MLI:VectorDecoder" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "ExecutionGranularity" use = "required">
				<xsd:annotation>
					<xsd:documentation>Assigns a execution point for the analysis. Refer to the Analysis Engine for more Info. Alternately, plague ome-devel with requests for more documentation.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "G"/>
						<xsd:enumeration value = "D"/>
						<xsd:enumeration value = "I"/>
						<xsd:enumeration value = "F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FunctionInputs"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>An ordered list of the function's inputs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "MLI:Input" minOccurs="1" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FunctionOutputs"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>An ordered list of the function's outputs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "MLI:Output" minOccurs="1" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Input"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name = "PixelsArray" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Will pass a numeric matrix into the function.
Translates a module input of Semantic Type Pixels (or any psuedo subclass of Pixels) to a numeric matrix. Limits specified by PixelsSlice or its subclasses will be honored.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "FormalInput" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>References a FormalInput by name</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ID" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>An input ID.
In the future, can be used to establish references.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ConvertToDatatype" use="optional">
							<xsd:annotation>
								<xsd:documentation>The Pixels array will be converted to the (MATLAB) datatype specified.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "uint8"/>
									<xsd:enumeration value = "uint16"/>
									<xsd:enumeration value = "uint32"/>
									<xsd:enumeration value = "uint64"/>
									<xsd:enumeration value = "int8"/>
									<xsd:enumeration value = "int16"/>
									<xsd:enumeration value = "int32"/>
									<xsd:enumeration value = "int64"/>
									<xsd:enumeration value = "single"/>
									<xsd:enumeration value = "double"/>
									<xsd:enumeration value = "logical"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Scalar" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>A 1x1 numeric or logical matrix -OR- a char matrix. Used only with inputs of arity 1 (i.e. Count='!')</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "InputLocation" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>Refers to a semantic element of a formal input. Syntax is formal input name, a period, and the semantic elment name. i.e. "Texture Direction.Direction_Value"</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ConvertToDatatype" use="optional">
							<xsd:annotation>
								<xsd:documentation>The MATLAB scalar will be converted to the (MATLAB) datatype specified.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "uint8"/>
									<xsd:enumeration value = "uint16"/>
									<xsd:enumeration value = "uint32"/>
									<xsd:enumeration value = "uint64"/>
									<xsd:enumeration value = "int8"/>
									<xsd:enumeration value = "int16"/>
									<xsd:enumeration value = "int32"/>
									<xsd:enumeration value = "int64"/>
									<xsd:enumeration value = "single"/>
									<xsd:enumeration value = "double"/>
									<xsd:enumeration value = "logical"/>
									<xsd:enumeration value = "char"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "ConstantScalar" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Specifies a constant scalar input.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "Value" use = "required" type = "xsd:string"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Output"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name = "PixelsArray" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Will translate a numeric array to a Formal Output of Semantic Type Pixels (or any psuedo subclass of Pixels). If PixelsSlice appears in the pseudo inheritance chain, the extents will be set to the extents of the Pixels.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "FormalOutput" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>References a FormalOutput by name</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ID" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>An output ID.
In the future, can be used to stitch together data from different function outputs into a single module output, or establish references.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ConvertToDatatype" use="optional">
							<xsd:annotation>
								<xsd:documentation>Useful when a function outputs a Pixels type that is unsupported by OME. The permitted list is the matlab types supported by OME.
Note to perl developers: This list should stay syncronized with the Matlab Class to OME pixel-type mapping hash $self->{ _matlab_class_to_pixel_type } that is defined in OME::Analysis::Handlers::MatlabHandler->new()
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "uint8"/>
									<xsd:enumeration value = "uint16"/>
									<xsd:enumeration value = "uint32"/>
									<xsd:enumeration value = "single"/>
									<xsd:enumeration value = "int8"/>
									<xsd:enumeration value = "int16"/>
									<xsd:enumeration value = "int32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Scalar" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>A 1x1 numeric or logical matrix -OR- a char matrix.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "UseTemplate" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>References a Template this value will be inserted into.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "OutputLocation" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>Refers to a semantic element of a formal output. Syntax is formal output name, a period, and the semantic elment name. i.e. "Angular Second Moment.ASM"</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ConvertToDatatype" use="optional">
							<xsd:annotation>
								<xsd:documentation>The MATLAB scalar will be converted to the (MATLAB) datatype specified. The permitted list is the matlab types supported by OME.
Note to perl developers: This list should stay syncronized with the Matlab Class to OME SE Type mapping hash $self->{ _matlab_class_to_ome_datatype} that is defined in OME::Analysis::Handlers::MatlabHandler->new()
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "uint8"/>
									<xsd:enumeration value = "uint16"/>
									<xsd:enumeration value = "uint32"/>
									<xsd:enumeration value = "int8"/>
									<xsd:enumeration value = "int16"/>
									<xsd:enumeration value = "int32"/>
									<xsd:enumeration value = "int64"/>
									<xsd:enumeration value = "single"/>
									<xsd:enumeration value = "double"/>
									<xsd:enumeration value = "logical"/>
									<xsd:enumeration value = "char"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Struct" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Struct outputs are expected to have the same structure and field names as the STs of their formal outputs. We do not anticipate this to be a widely used feature.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "FormalOutput" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>References a FormalOutput by name</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ID" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>An output ID.
In the future, can be used to stitch together data from different function outputs into a single module output, or establish references.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Vector" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>A one dimensional matrix output.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "DecodeWith" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>Specifies decoding instructions. This should match the ID of a VectorDecoder element</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Templates"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>Used to add structure &amp; explicit data description to function outputs such as ChannelComponents or LogicalChannels.
The contents of this element should follow CustomAttribute syntax and conventions.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "VectorDecoder"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>Instructions for extracting data from a one dimensional matlab matrix. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "Element" minOccurs="1" maxOccurs = "unbounded">
					<xsd:annotation>
						<xsd:documentation>Maps a location on the Vector to an output data location. Can be used in conjuction with Templates.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "OutputLocation" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>Refers to a semantic element of a formal output. Syntax is formal output name, a period, and the semantic elment name. i.e. "Angular Second Moment.ASM"</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "Index" use = "required" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>A numeric index into the matlab vector. Numbering starts at 1 to follow matlab convention.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "UseTemplate" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>References a Template this value will be inserted into.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ID" use="optional" type = "xsd:string">
							<xsd:annotation>
								<xsd:documentation>An output ID.
In the future, can be used to stitch together data from different function outputs into a single module output, or establish references.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "ConvertToDatatype" use="optional">
							<xsd:annotation>
								<xsd:documentation>The MATLAB scalar that is part of a MATLAB vector will be converted to the (MATLAB) datatype specified. The permitted list is the matlab types supported by OME.
Note to perl developers: This list should stay syncronized with the Matlab Class to OME SE Type mapping hash $self->{ _matlab_class_to_ome_datatype} that is defined in OME::Analysis::Handlers::MatlabHandler->new()
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "uint8"/>
									<xsd:enumeration value = "uint16"/>
									<xsd:enumeration value = "uint32"/>
									<xsd:enumeration value = "int8"/>
									<xsd:enumeration value = "int16"/>
									<xsd:enumeration value = "int32"/>
									<xsd:enumeration value = "int64"/>
									<xsd:enumeration value = "single"/>
									<xsd:enumeration value = "double"/>
									<xsd:enumeration value = "logical"/>
									<xsd:enumeration value = "char"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>An output ID.
In the future, can be used to stitch together data from different function outputs into a single module output, or establish references.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
