components/specification/Legacy/XMLschemas/BinaryFile/RC1/BinaryFile.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 xmlns:Bin = "http://www.openmicroscopy.org/XMLschemas/BinaryFile/RC1/BinaryFile.xsd"
	 version = "RC1"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.w3.org/XML/1998/namespace"  schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2011 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
	<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josiah Johnston <siah@nih.gov>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
	<element name = "External">
		<annotation>
			<documentation>Describes a file location.  Can optionally specify a portion of a file using Offset and a ReadLength.
If Offset and ReadLength are specified in conjuction with Compression, then they point into the uncompressed file.
			</documentation>
		</annotation>
		<complexType>
			<attribute name = "href" use = "required" type = "anyURI">
				<annotation>
					<documentation>file location</documentation>
				</annotation>
			</attribute>
			<attribute name = "SHA1" use = "required" type = "Bin:Hex40">
				<annotation>
					<documentation>The digest of the file specified in href.</documentation>
				</annotation>
			</attribute>
			<attribute name = "Compression" default = "none">
				<annotation>
					<documentation>Specifies the compression scheme used to encode the data.</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "zlib"/>
						<enumeration value = "bzip2"/>
						<enumeration value = "none"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name = "BinData">
		<annotation>
			<documentation>The contents of this element are base64-encoded.  These are not CDATA sections, just a base64 stream.</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base = "base64Binary">
					<attribute name = "Compression" default = "none">
						<annotation>
							<documentation>Specifies the compression scheme used to encode the data. </documentation>
						</annotation>
						<simpleType>
							<restriction base = "string">
								<enumeration value = "zlib"/>
								<enumeration value = "bzip2"/>
								<enumeration value = "none"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name = "BinaryFile">
		<annotation>
			<documentation>Describes a binary file.</documentation>
		</annotation>
		<complexType>
			<choice>
				<element ref = "Bin:External"/>
				<element ref = "Bin:BinData"/>
			</choice>
			<attribute name = "FileName" use = "required">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "64"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name = "Size" use = "required" type = "integer">
				<annotation>
					<documentation>Size (in bytes) of the uncompressed file.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<simpleType name = "Hex40">
		<restriction base = "hexBinary">
			<length value = "20"/>
		</restriction>
	</simpleType>
</schema>
