components/specification/InProgress/OMERO.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<?xml-stylesheet href="http://cvs.openmicroscopy.org.uk/snapshots/omero/editor/omeXsd/display.xsl" type="text/xsl"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2012 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Andrew J Patterson 
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/Schemas/OMERO/2012-06"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/OMERO/2012-06"
	xmlns:OME = "http://www.openmicroscopy.org/Schemas/OME/2012-06"
	xmlns:BIN="http://www.openmicroscopy.org/Schemas/BinaryFile/2012-06"
	xmlns:SA = "http://www.openmicroscopy.org/Schemas/SA/2012-06"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	version = "1"
	elementFormDefault = "qualified">
	<!-- Using the svn location for import
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2012-06" schemaLocation="http://git.openmicroscopy.org/src/develop/components/specification/InProgress/ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/BinaryFile/2012-06" schemaLocation="http://git.openmicroscopy.org/src/develop/components/specification/InProgress/BinaryFile.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SA/2012-06" schemaLocation="http://git.openmicroscopy.org/src/develop/components/specification/InProgress/SA.xsd"/>

	Using the local directory location for import -->
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2012-06" schemaLocation="ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/BinaryFile/2012-06" schemaLocation="BinaryFile.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SA/2012-06" schemaLocation="SA.xsd"/>
	<!-- -->

	<xsd:element name="OriginalFile"><!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>OriginalFiles</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a original file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="PixelsRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
            </xsd:sequence>
			<xsd:attribute name="Name" use="optional" type="xsd:string"/>
			<xsd:attribute name="ID" use="required" type="OriginalFileID"/>
            <xsd:attribute name="Path" use="required" type="Text"/>
			<xsd:attribute name="Size" use="required" type="OME:NonNegativeLong"/>
			<xsd:attribute name="Atime" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Mtime" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Ctime" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="SHA1" use="required" type="xsd:string"/>
			<xsd:attribute name="MimeType" use="optional" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Node">
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>Nodes</plural><global/></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a node.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
                <xsd:element name = "Session" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><plural>Sessions</plural><global/></xsdfu></xsd:appinfo>
                        <xsd:documentation>Describes a session.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Event" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:appinfo><xsdfu><plural>Events</plural><immutable/><global/></xsdfu></xsd:appinfo>
                                    <xsd:documentation>Describes an Event.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="OME:ExperimenterRef" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="OME:ExperimenterGroupRef" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="EventRef" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:complexContent>
                                                    <xsd:extension base="OME:Reference">
                                                        <xsd:attribute name="ID" use="required" type="EventID"/>
                                                    </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="EventLog" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:appinfo><xsdfu><plural>EventLogs</plural><immutable/><global/></xsdfu></xsd:appinfo>
                                                <xsd:documentation>Describes an EventLog.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:attribute name="EntityId" use="required"
                                                    type="xsd:long"/>
                                                <xsd:attribute name="EntityType" use="required"
                                                    type="xsd:string"/>
                                                <xsd:attribute name="Action" use="required" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="ID" use="required" type="EventID"/>
                                    <xsd:attribute name="Status" use="optional" type="xsd:string"/>
                                    <xsd:attribute name="Time" use="required" type="xsd:dateTime"/>
                                    <xsd:attribute name="Type" use="required" type="EventType"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element ref="OME:ExperimenterRef" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="Uuid" use="required" type="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo><xsdfu><unique/></xsdfu></xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DefaultEventType" use="required" type="EventType"/>
                        <xsd:attribute name="UserAgent" use="optional" type="xsd:string"/>
                        <xsd:attribute name="TimeToIdle" use="required" type="OME:NonNegativeLong"/>
                        <xsd:attribute name="TimeToLive" use="required" type="OME:NonNegativeLong"/>
                        <xsd:attribute name="Started" use="required" type="xsd:dateTime"/>
                        <xsd:attribute name="Closed" use="optional" type="xsd:dateTime"/>
                        <xsd:attribute name="Message" use="optional" type="Text"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
			<xsd:attribute name="Uuid" use="required" type="OME:UniversallyUniqueIdentifier">
				<xsd:annotation>
					<xsd:appinfo><xsdfu><unique/></xsdfu></xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Conn" use="required" type="xsd:string"/>
			<xsd:attribute name="Up" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="Down" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Scale" use="optional" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Share"> <!-- top level definition -->
        <xsd:annotation>
            <xsd:appinfo><xsdfu><plural>Shares</plural><global/></xsdfu></xsd:appinfo>
            <xsd:documentation>Describe and notates a share.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="Session">
                    <xsd:sequence>
                        <xsd:element ref="OME:ExperimenterRef" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="OME:ExperimenterGroupRef" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="BIN:BinData" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="ItemCount" use="required" type="xsd:long"/>
                    <xsd:attribute name="Active" use="required" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

	<xsd:element name = "ExternalInfo"> <!-- top level definition -->
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>ExternalInfos</plural><immutable/></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes external info.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="EntityId" use="required" type="xsd:long"/>
			<xsd:attribute name="EntityType" use="required" type="xsd:string"/>
			<xsd:attribute name="UUID" use="optional" type="OME:UniversallyUniqueIdentifier"/>
			<xsd:attribute name="LSID" use="optional" type="OME:LSID"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "DBPatch"> <!-- top level definition -->
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>DBPatches</plural><global/><immutable/></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a database patch</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="CurrentVersion" use="required" type="xsd:string"/>
			<xsd:attribute name="CurrentPatch" use="required" type="xsd:integer"/>
			<xsd:attribute name="PreviousVersion" use="required" type="xsd:string"/>
			<xsd:attribute name="PreviousPatch" use="required" type="xsd:integer"/>
			<xsd:attribute name="Finished" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Message" use="optional" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Namespace"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Namespaces</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a namespace</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							A description for the namespace. [plane text multi-line string]
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Name" use="optional" type="xsd:string"/>
			<xsd:attribute name="Keywords" use="optional" type="StringArray"/>
			<xsd:attribute name="Multivalued" use="optional" type="xsd:boolean"/>
			<xsd:attribute name="Display" use="optional" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Thumbnail"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Thumbnails</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a Thumbnail</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element ref="PixelsRef" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
			</xsd:sequence>
			<xsd:attribute name="MimeType" use="required" type="xsd:string"/>
			<xsd:attribute name="SizeX" use="required" type="OME:NonNegativeInt"/>
			<xsd:attribute name="SizeY" use="required" type="OME:NonNegativeInt"/>
			<xsd:attribute name="REF" use="optional" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "RenderingDef"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>RenderingDefs</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a RenderingDef</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element ref="PixelsRef" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element minOccurs="1" maxOccurs="1" ref="QuantumDef"/>
				<xsd:element minOccurs="1" maxOccurs="unbounded" ref="ChannelBinding">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><ordered/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" ref="CodomainMapContext">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><ordered/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Model" use="required" type="RenderingModel"/>
			<xsd:attribute name="DefaultZ" use="required" type="OME:NonNegativeInt"/>
			<xsd:attribute name="DefaultT" use="required" type="OME:NonNegativeInt"/>
			<xsd:attribute name="Name" use="optional" type="xsd:string"/>
			<xsd:attribute name="Compression" use="optional" type="xsd:double"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "ReverseIntensityContext"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>ReverseIntensityContexts</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a ReverseIntensityContext</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="CodomainMapContext">
			        <xsd:attribute name="Reverse" use="required" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "PlaneSlicingContext"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>PlaneSlicingContexts</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a PlaneSlicingContext</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="CodomainMapContext">
                    <xsd:attribute name="UpperLimit" use="required" type="xsd:integer"/>
                    <xsd:attribute name="LowerLimit" use="required" type="xsd:integer"/>
                    <xsd:attribute name="PlaneSelected" use="required" type="xsd:integer"/>
                    <xsd:attribute name="PlanePrevious" use="required" type="xsd:integer"/>
                    <xsd:attribute name="Constant" use="required" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "ContrastStretchingContext"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>ContrastStretchingContexts</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a ContrastStretchingContext</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="CodomainMapContext">
                    <xsd:attribute name="XStart" use="required" type="xsd:long"/>
                    <xsd:attribute name="YStart" use="required" type="xsd:long"/>
                    <xsd:attribute name="XEnd" use="required" type="xsd:long"/>
                    <xsd:attribute name="YEnd" use="required" type="xsd:long"/>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "StatsInfo"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>StatsInfos</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a StatsInfo</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="GlobalMin" use="required" type="xsd:double"/>
			<xsd:attribute name="GlobalMax" use="required" type="xsd:double"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "ImportJob"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>ImportJobs</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a ImportJob</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="Job">
                    <xsd:attribute name="ImageName" use="required" type="xsd:string"/>
                    <xsd:attribute name="ImageDescription" use="required" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "ScriptJob"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>ScriptJobs</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a ScriptJob</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="Job">
			        <xsd:attribute name="Description" use="required" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "ParseJob"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>ParseJobs</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a ParseJob</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="Job">
                    <xsd:sequence>
                        <xsd:element ref="BIN:BinData" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Job"> <!-- top level definition -->
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>Jobs</plural><abstract/></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a Job</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OriginalFileRef" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="OME:Reference">
								<xsd:attribute name="ID" use="required" type="OriginalFileID"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="UserName" use="required" type="xsd:string"/>
			<xsd:attribute name="GroupName" use="required" type="xsd:string"/>
			<xsd:attribute name="Type" use="required" type="xsd:string"/>
			<xsd:attribute name="Message" use="required" type="xsd:string"/>
			<xsd:attribute name="Status" use="required" type="JobStatus"/>
			<xsd:attribute name="Submitted" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="ScheduledFor" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="Started" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Finished" use="optional" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="QuantumDef">
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>QuantumDefs</plural></xsdfu></xsd:appinfo>
		</xsd:annotation>
		<xsd:attribute name="CDStart" use="required" type="xsd:integer"/>
		<xsd:attribute name="CDEnd" use="required" type="xsd:integer"/>
		<xsd:attribute name="BitResolution" use="required" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="ChannelBinding">
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>ChannelBindings</plural></xsdfu></xsd:appinfo>
		</xsd:annotation>
		<xsd:attribute name="Family" use="required" type="Family"/>
		<xsd:attribute name="Coefficient" use="required" type="xsd:double"/>
		<xsd:attribute name="InputStart" use="required" type="xsd:double"/>
		<xsd:attribute name="InputEnd" use="required" type="xsd:double"/>
		<xsd:attribute name="Active" use="required" type="xsd:boolean"/>
		<xsd:attribute name="NoiseReduction" use="required" type="xsd:boolean"/>
		<xsd:attribute name="Color" use="required" type="OME:Color"/>
	</xsd:complexType>

	<xsd:complexType name="CodomainMapContext">
		<xsd:annotation>
            <xsd:appinfo><xsdfu><plural>CodomainMapContexts</plural></xsdfu></xsd:appinfo>
		</xsd:annotation>
		<!-- This needs some reference back to RenderingDef -->
	</xsd:complexType>

	<xsd:simpleType name="RenderingModel">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value = "RGB"/>
			<xsd:enumeration value = "Greyscale"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Family">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value = "Linear"/>
			<xsd:enumeration value = "Polynomial"/>
			<xsd:enumeration value = "Exponential"/>
			<xsd:enumeration value = "Logarithmic"/>
		</xsd:restriction>
	</xsd:simpleType>

    <!-- top level definition dirty hack as the enumeration is used
         nowhere in this schema -->
	<xsd:element name = "FormatType">
		<xsd:complexType>
			<xsd:attribute name="Format" type="Format"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="Text">
        <xsd:restriction base="xsd:string">
		</xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="Format">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:enumeration value = "PNG"/>
            <xsd:enumeration value = "Companion/PNG"/>
            <xsd:enumeration value = "JPEG"/>
            <xsd:enumeration value = "Companion/JPEG"/>
            <xsd:enumeration value = "PGM"/>
            <xsd:enumeration value = "Companion/PGM"/>
            <xsd:enumeration value = "Fits"/>
            <xsd:enumeration value = "Companion/Fits"/>
            <xsd:enumeration value = "GIF"/>
            <xsd:enumeration value = "Companion/GIF"/>
            <xsd:enumeration value = "BMP"/>
            <xsd:enumeration value = "Companion/BMP"/>
            <xsd:enumeration value = "Dicom"/>
            <xsd:enumeration value = "Companion/Dicom"/>
            <xsd:enumeration value = "BioRad"/>
            <xsd:enumeration value = "Companion/BioRad"/>
            <xsd:enumeration value = "IPLab"/>
            <xsd:enumeration value = "Companion/IPLab"/>
            <xsd:enumeration value = "Deltavision"/>
            <xsd:enumeration value = "Companion/Deltavision"/>
            <xsd:enumeration value = "MRC"/>
            <xsd:enumeration value = "Companion/MRC"/>
            <xsd:enumeration value = "Gatan"/>
            <xsd:enumeration value = "Companion/Gatan"/>
            <xsd:enumeration value = "Imaris"/>
            <xsd:enumeration value = "Companion/Imaris"/>
            <xsd:enumeration value = "OpenlabRaw"/>
            <xsd:enumeration value = "Companion/OpenlabRaw"/>
            <xsd:enumeration value = "OMEXML"/>
            <xsd:enumeration value = "Companion/OMEXML"/>
            <xsd:enumeration value = "LIF"/>
            <xsd:enumeration value = "Companion/LIF"/>
            <xsd:enumeration value = "AVI"/>
            <xsd:enumeration value = "Companion/AVI"/>
            <xsd:enumeration value = "QT"/>
            <xsd:enumeration value = "Companion/QT"/>
            <xsd:enumeration value = "Pict"/>
            <xsd:enumeration value = "Companion/Pict"/>
            <xsd:enumeration value = "SDT"/>
            <xsd:enumeration value = "Companion/SDT"/>
            <xsd:enumeration value = "EPS"/>
            <xsd:enumeration value = "Companion/EPS"/>
            <xsd:enumeration value = "Slidebook"/>
            <xsd:enumeration value = "Companion/Slidebook"/>
            <xsd:enumeration value = "Alicona"/>
            <xsd:enumeration value = "Companion/Alicona"/>
            <xsd:enumeration value = "MNG"/>
            <xsd:enumeration value = "Companion/MNG"/>
            <xsd:enumeration value = "NRRD"/>
            <xsd:enumeration value = "Companion/NRRD"/>
            <xsd:enumeration value = "Khoros"/>
            <xsd:enumeration value = "Companion/Khoros"/>
            <xsd:enumeration value = "Visitech"/>
            <xsd:enumeration value = "Companion/Visitech"/>
            <xsd:enumeration value = "LIM"/>
            <xsd:enumeration value = "Companion/LIM"/>
            <xsd:enumeration value = "PSD"/>
            <xsd:enumeration value = "Companion/PSD"/>
            <xsd:enumeration value = "InCell"/>
            <xsd:enumeration value = "Companion/InCell"/>
            <xsd:enumeration value = "ICS"/>
            <xsd:enumeration value = "Companion/ICS"/>
            <xsd:enumeration value = "PerkinElmer"/>
            <xsd:enumeration value = "Companion/PerkinElmer"/>
            <xsd:enumeration value = "TCS"/>
            <xsd:enumeration value = "Companion/TCS"/>
            <xsd:enumeration value = "FV1000"/>
            <xsd:enumeration value = "Companion/FV1000"/>
            <xsd:enumeration value = "ZeissZVI"/>
            <xsd:enumeration value = "Companion/ZeissZVI"/>
            <xsd:enumeration value = "IPW"/>
            <xsd:enumeration value = "Companion/IPW"/>
            <xsd:enumeration value = "LegacyND2"/>
            <xsd:enumeration value = "Companion/LegacyND2"/>
            <xsd:enumeration value = "ND2"/>
            <xsd:enumeration value = "Companion/ND2"/>
            <xsd:enumeration value = "PCI"/>
            <xsd:enumeration value = "Companion/PCI"/>
            <xsd:enumeration value = "ImarisHDF"/>
            <xsd:enumeration value = "Companion/ImarisHDF"/>
            <xsd:enumeration value = "Metamorph"/>
            <xsd:enumeration value = "Companion/Metamorph"/>
            <xsd:enumeration value = "ZeissLSM"/>
            <xsd:enumeration value = "Companion/ZeissLSM"/>
            <xsd:enumeration value = "SEQ"/>
            <xsd:enumeration value = "Companion/SEQ"/>
            <xsd:enumeration value = "Gel"/>
            <xsd:enumeration value = "Companion/Gel"/>
            <xsd:enumeration value = "ImarisTiff"/>
            <xsd:enumeration value = "Companion/ImarisTiff"/>
            <xsd:enumeration value = "Flex"/>
            <xsd:enumeration value = "Companion/Flex"/>
            <xsd:enumeration value = "SVS"/>
            <xsd:enumeration value = "Companion/SVS"/>
            <xsd:enumeration value = "Leica"/>
            <xsd:enumeration value = "Companion/Leica"/>
            <xsd:enumeration value = "Nikon"/>
            <xsd:enumeration value = "Companion/Nikon"/>
            <xsd:enumeration value = "Fluoview"/>
            <xsd:enumeration value = "Companion/Fluoview"/>
            <xsd:enumeration value = "Prairie"/>
            <xsd:enumeration value = "Companion/Prairie"/>
            <xsd:enumeration value = "Micromanager"/>
            <xsd:enumeration value = "Companion/Micromanager"/>
            <xsd:enumeration value = "ImprovisionTiff"/>
            <xsd:enumeration value = "Companion/ImprovisionTiff"/>
            <xsd:enumeration value = "OMETiff"/>
            <xsd:enumeration value = "Companion/OMETiff"/>
            <xsd:enumeration value = "MetamorphTiff"/>
            <xsd:enumeration value = "Companion/MetamorphTiff"/>
            <xsd:enumeration value = "Tiff"/>
            <xsd:enumeration value = "Companion/Tiff"/>
            <xsd:enumeration value = "Openlab"/>
            <xsd:enumeration value = "Companion/Openlab"/>
            <xsd:enumeration value = "MIAS"/>
            <xsd:enumeration value = "Companion/MIAS"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="JobStatus">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value = "Submitted"/>
			<xsd:enumeration value = "Resubmitted"/>
			<xsd:enumeration value = "Queued"/>
			<xsd:enumeration value = "Requeued"/>
			<xsd:enumeration value = "Running"/>
			<xsd:enumeration value = "Error"/>
			<xsd:enumeration value = "Waiting"/>
			<xsd:enumeration value = "Finished"/>
			<xsd:enumeration value = "Cancelled"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StringArray">
		<xsd:annotation>
			<xsd:documentation>
				A simple type that identifies a collection of strings. It is recognised by xsd-fu.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventType">
		<xsd:annotation>
			<xsd:documentation>
				Types of events in the event log
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value = "Import"/>
			<xsd:enumeration value = "Internal"/>
			<xsd:enumeration value = "Shoola"/>
			<xsd:enumeration value = "User"/>
			<xsd:enumeration value = "Task"/>
			<xsd:enumeration value = "Test"/>
			<xsd:enumeration value = "Processing"/>
			<xsd:enumeration value = "FullText"/>
			<xsd:enumeration value = "Sessions"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Event:\S+)|(Event:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SessionID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Session:\S+)|(Session:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NodeID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Node:\S+)|(Node:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="OriginalFileID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:OriginalFile:\S+)|(OriginalFile:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:element name="PixelsRef" minOccurs="0" maxOccurs="unbounded"> <!-- top level definition -->
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="OME:Reference">
                    <xsd:attribute name="ID" use="required" type="OME:PixelsID"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
