components/specification/released-schema/2015-01/SPW.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003 - 2016 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk>
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns="http://www.openmicroscopy.org/Schemas/SPW/2015-01"
	targetNamespace="http://www.openmicroscopy.org/Schemas/SPW/2015-01"
	xmlns:OME="http://www.openmicroscopy.org/Schemas/OME/2015-01"
	xmlns:SA="http://www.openmicroscopy.org/Schemas/SA/2015-01"
	xmlns:SPW="http://www.openmicroscopy.org/Schemas/SPW/2015-01"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2015-01"
		schemaLocation="http://www.openmicroscopy.org/Schemas/OME/2015-01/ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SA/2015-01"
		schemaLocation="http://www.openmicroscopy.org/Schemas/SA/2015-01/SA.xsd"/>

	<xsd:annotation>
		<xsd:documentation>
			Open Microscopy Environment
			Screen, Plate, and Well XML Schema
			Author:	 Andrew J Patterson
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="Plate"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Plates</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				This element identifies microtiter plates within a screen.
				A plate can belong to more than one screen.
				The Screen(s) that a plate belongs to are specified by the ScreenRef element.
				The Plate ID and Name attributes are required.
				The Wells in a plate are numbers from the top-left corner in a grid starting at zero.
				i.e. The top-left well of a plate is index (0,0)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							A description for the plate.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="Well" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="PlateAcquisition" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="PlateID"/>
			<xsd:attribute name="Name" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The Name identifies the plate to the user.
						It is used much like the ID, and so must be
						unique within the document.

						If a plate name is not available when one is needed
						it will be constructed in the following order:
						1. If name is available use it.
						2. If not use "Start time - End time"
						    (NOTE: Not a subtraction! A string representation
						    of the two times separated by a dash.)
						3. If these times are not available use the Plate ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Status" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A textual annotation of the current state of the plate with respect to the
						experiment work-flow; e.g.
						1. Seed cell: done; 2. Transfection: done;	3. Gel doc: todo.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ExternalIdentifier" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The ExternalIdentifier attribute may contain a reference to an external database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ColumnNamingConvention" use="optional" type="NamingConvention">
				<xsd:annotation>
					<xsd:documentation>
						The ColumnNamingConvention
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="RowNamingConvention" use="optional" type="NamingConvention">
				<xsd:annotation>
					<xsd:documentation>
						The RowNamingConvention
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="WellOriginX" use="optional" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>
						This defines the X position to use for the origin of the
						fields (individual images) taken in a well. It is used
						with the X in the WellSample to display the fields
						in the correct position relative to each other. Each Well
						in the plate has the same well origin. Units are set by WellOriginXUnit.

						In the OMERO clients by convention we display the WellOrigin
						in the center of the view.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="WellOriginXUnit" use="optional" default="reference frame" type="OME:UnitsLength">
				<xsd:annotation>
					<xsd:documentation>The units of the well origin in X - default:reference frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="WellOriginY" use="optional" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>
						This defines the Y position to use for the origin of the
						fields (individual images) taken in a well. It is used
						with the Y in the WellSample to display the fields
						in the correct position relative to each other. Each Well
						in the plate has the same well origin.  Units are set by WellOriginYUnit.

						In the OMERO clients by convention we display the WellOrigin
						in the center of the view.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="WellOriginYUnit" use="optional" default="reference frame" type="OME:UnitsLength">
				<xsd:annotation>
					<xsd:documentation>The units of the well origin in Y - default:reference frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Rows" use="optional" type="OME:PositiveInt">
				<xsd:annotation>
					<xsd:documentation>
						The number of rows in the plate
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Columns" use="optional" type="OME:PositiveInt">
				<xsd:annotation>
					<xsd:documentation>
						The number of columns in the plate
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="FieldIndex" use="optional" type="OME:NonNegativeInt">
				<xsd:annotation>
					<xsd:documentation>
						The index of the WellSample to display as the default Field
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
		<!-- Unique Indexes -->
		<xsd:key name="WellSampleIndex"><xsd:selector xpath="SPW:Well/SPW:WellSample"/><xsd:field xpath="@Index"/></xsd:key>

	</xsd:element>

	<xsd:simpleType name="NamingConvention">
		<xsd:annotation>
			<xsd:documentation>
				Predefined list of values for the well labels
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="letter">
				<xsd:annotation>
					<xsd:documentation>
						While the label type 'number' has a clear meaning the 'letter'
						type is more complex.

						If you have less than 26 values use letters A to Z.
						Once you get more than 26 values there are several different
						approaches in use.
						One we have see include:

						Single letter, then double letter each running A to Z, right first
						e.g. A, B, C, ... X, Y, Z, AA, AB, AC, ... AY, AZ, BA, BB, ...
						This is the format used by Microsoft Excel so users may be familiar with it.
						This is the approach we use in the OMERO client applications.

						CAPITALsmall, each running A to Z, small first
						e.g. Aa, Ab, Ac, ... Ax, Ay, Az, Ba, Bb, Bc, ... By, Bz, Ca, Cb, ...
						This is in use by some plate manufactures.

						Single letter, then double letter, then triple letter, and so on
						e.g. A, B, C, ... X, Y, Z, AA, BB, CC, ... YY, ZZ, AAA, BBB, ...
						This has the advantage that the first 26 are the same as the standard
						but has a problem an the labels get wider and wider leading to user
						interface problems.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="number">
				<xsd:annotation>
					<xsd:documentation>
						1, 2, 3, ...
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PlateID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Plate:\S+)|(Plate:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="Reagent"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Reagents</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				Reagent is used to describe a chemical or some other physical experimental parameter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							A long description for the reagent.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="ReagentID"/>
			<xsd:attribute name="Name" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A short name for the reagent
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReagentIdentifier" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						This is a reference to an external (to OME) representation of the Reagent.
						It serves as a foreign key into an external database. - It is sometimes referred to as ExternalIdentifier.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
	   </xsd:complexType>
	</xsd:element>

	<xsd:element name="ReagentRef"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OME:Reference">
					<xsd:attribute name="ID" use="required" type="ReagentID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="ReagentID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Reagent:\S+)|(Reagent:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="Screen"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Screens</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				The Screen element is a grouping for Plates.
				The required attribute is the Screen's Name and ID - both must be unique within the document.
				The Screen element may contain an ExternalRef attribute that refers to an external database.
				A description of the screen may be specified in the Description element.
				Screens may contain overlapping sets of Plates i.e.	 Screens and Plates have a many-to-many relationship.
				Plates contain one or more ScreenRef elements to specify what screens they belong to.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							A description for the screen.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="Reagent" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="PlateRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
						<xsd:documentation>
							The PlateRef element is a reference to a Plate element.
							Screen elements may have one or more PlateRef elements to define the plates that are part of the screen.
							Plates may belong to more than one screen.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="OME:Reference">
								<xsd:attribute name="ID" use="required" type="PlateID"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="ScreenID"/>
			<xsd:attribute name="Name" use="optional" type="xsd:string"/>
			<xsd:attribute name="ProtocolIdentifier" use="optional" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							A pointer to an externally defined protocol, usually in a screening database.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			<xsd:attribute name="ProtocolDescription" use="optional" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							A description of the screen protocol; may contain very detailed information to
							reproduce some of that found in a screening database.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			<xsd:attribute name="ReagentSetDescription" use="optional" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							A description of the set of reagents; may contain very detailed information to
							reproduce some of that information found in a screening database.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			<xsd:attribute name="ReagentSetIdentifier" use="optional" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							A pointer to an externally defined set of reagents, usually in a screening
							database/automation database.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			<xsd:attribute name="Type" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A human readable identifier for the screen type; e.g. RNAi, cDNA, SiRNA, etc.
						This string is likely to become an enumeration in future releases.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="ScreenID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Screen:\S+)|(Screen:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="PlateAcquisition"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>PlateAcquisitions</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				PlateAcquisition is used to describe a single acquisition run for a plate.
				This object is used to record the set of images acquired in a single
				acquisition run. The Images for this run are linked to PlateAcquisition
				through WellSample.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							A description for the PlateAcquisition.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="WellSampleRef" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="PlateAcquisitionID"/>
			<xsd:attribute name="Name" use="optional" type="xsd:string"/>
			<xsd:attribute name="EndTime" use="optional" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Time when the last image of this acquisition was collected
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="StartTime" use="optional" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Time when the first image of this acquisition was collected
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MaximumFieldCount" use="optional" type="OME:PositiveInt">
				<xsd:annotation>
					<xsd:documentation>
						The maximum number of fields (well samples) in any well
						in this PlateAcquisition.
						This is only used to speed up user interaction by stopping
						the reading of every well sample.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="PlateAcquisitionID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:PlateAcquisition:\S+)|(PlateAcquisition:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="Well"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Wells</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				A Well is a component of the Well/Plate/Screen construct to describe screening applications.
				A Well has a number of WellSample elements that link to the Images collected in this well.
				The ReagentRef links any Reagents that were used in this Well. A well is part of only one Plate.
				The origin for the row and column identifiers is the top left corner of the plate starting at zero.
				i.e The top left well of a plate is index (0,0)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="WellSample" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo><xsdfu><ordered/></xsdfu></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element ref="ReagentRef" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="WellID"/>
			<xsd:attribute name="Column" use="required" type="OME:NonNegativeInt">
				<xsd:annotation>
					<xsd:documentation>
						This is the column index of the well, the origin is the top left corner of the plate
						with the first column of cells being column zero. i.e top left is (0,0)
						The combination of Row, Column has to be unique for each well in a plate.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Row" use="required" type="OME:NonNegativeInt">
				<xsd:annotation>
					<xsd:documentation>
						This is the row index of the well, the origin is the top left corner of the plate
						with the first row of wells being row zero. i.e top left is (0,0)
						The combination of Row, Column has to be unique for each well in a plate.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ExternalDescription" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A description of the externally defined identifier for this plate.
				   </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ExternalIdentifier" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The ExternalIdentifier attribute may contain a reference to an external database.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Type" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A human readable identifier for the screening status.
						e.g. empty, positive control, negative control, control, experimental, etc.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Color" use="optional" type="OME:Color" default="-1">
				<xsd:annotation>
					<xsd:documentation>
						A marker color used to highlight the well - encoded as RGBA
						The default value "-1" is #FFFFFFFF so solid white (it is a signed 32 bit value)
						NOTE: Prior to the 2012-06 schema the default value was incorrect and produced a transparent red not solid white.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="WellID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Well:\S+)|(Well:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="WellSample"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>WellSamples</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>
				WellSample is an individual image that has been captured within a Well.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OME:ImageRef" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><injected/></xsdfu></xsd:appinfo>
						<xsd:documentation>
							This is the main link to the core Image element
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required" type="WellSampleID"/>
			<xsd:attribute name="PositionX" use="optional" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>
						The X position of the field (image) within the well relative to
						the well origin defined on the Plate. Units are set by PositionXUnit.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PositionXUnit" use="optional" default="reference frame" type="OME:UnitsLength">
				<xsd:annotation>
					<xsd:documentation>The units of the position in X - default:reference frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PositionY" use="optional" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>
						The Y position of the field (image) within the well relative to
						the well origin defined on the Plate. Units are set by PositionYUnit.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="PositionYUnit" use="optional" default="reference frame" type="OME:UnitsLength">
				<xsd:annotation>
					<xsd:documentation>The units of the position in Y - default:reference frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Timepoint" use="optional" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						The time-point at which the image started to be collected
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Index" use="required" type="OME:NonNegativeInt">
				<xsd:annotation>
					<xsd:documentation>
						This records the order of the well samples. Each
						index should be unique for a given plate but they do not
						have to be sequential, there may be gaps if part of the
						dataset is missing. In the user interface the displayed
						value of the index will be calculated modulo the number
						of PlateAcquisitions for the plate.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="WellSampleID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:WellSample:\S+)|(WellSample:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="WellSampleRef"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				The WellSampleRef element is a reference to a WellSample element.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OME:Reference">
					<xsd:attribute name="ID" use="required" type="WellSampleID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
